[2013-04-25 19:03] jumbojett opened #1 "Implement Dynamic Registration"

[2013-04-25 19:21] jumbojett opened #2 "Include issuer finding in Discovery"
There are two steps to discovery:
1. figuring out which "issuer" to use for a given user
2. figuring out the configuration once you have the issuer

One way of supporting this feature is utilizing an account chooser.
1. look for the "iss" parameter on a login page for your issuer
2. once you have that, you can get the configuration, and go
_it's particularly useful if you're logging in using multi

[2014-02-27 14:00] rghose opened #6 "Getting redirect_uri_mismatch on OpenAM"
I am getting this page:

Error: redirect_uri_mismatch

Description: The redirection URI provided does not match a pre-registered value.

I have added the client secret &c to the client. Also when I add the redirect URL as:

http://m.y.i.p.:port/folder/client_example.php on OpenAM OpenID Connect Server, I get a redirect loop.

[2014-02-28 15:19] jricher opened #7 "Client doesn't catch/handle error messages"
According to the dialogue from a user in #6 , it looks like the client filter isn't catching the error codes that come back from the server on an error condition and is instead trying to attempt the authentication event again immediately. This leads to an infinite redirect loop.

[2014-03-04 19:23] #7 closed, assigned to nobody

[2014-03-11 06:48] #6 closed, assigned to nobody

[2015-02-10 14:22] mhauslerArcweb opened #18 "Problems using Google as the provider"
I'm trying to use this library to log into a Mediawiki instance using its OpenID Connect sign-in plugin and am using Google as the provider.  I use the Google Developer's Console to obtain the Client ID and Client Secret from the project.  Unfortunately, I run into a few issues that require manual changes to the code:

1.  Nonce values are not accepted by Google's servers, so I need to comment out

[2015-02-10 17:17] jumbojett commented on #18
1. That's good to know. If the current draft of OpenID Connect does not require `nonce's` then this needs to be reflected accordingly.
2. I'm curious, could you revert to @0214020e8dabfd and see if it solves the issue? @jdreed might be able to provide more insight into key verification.

[2015-02-10 18:13] mhauslerArcweb commented on #18
Would reverting to that commit compromise security?  If so, how?

[2015-02-10 18:30] jdreed commented on #18
I haven't used Google's OpenID Connect, so I can't speak to that.  As I understand it from reading it, the nonce is in fact optional.  If present and accepted by the server, the client must verify it, but I can't find anything in the draft requiring it to be present.

I have limited experience with key verification -- I've only done RSA with PKCS15 signature key verification, because that's all my

[2015-02-10 20:44] mhauslerArcweb commented on #18
The issue, after looking at some debug logs, seems to have something to do with the signature it's checking having about 20 slashes in the middle of it when converted to a readable format (http://davidwalsh.name/php-serialize-unserialize-issues).  I believe this may be part of the issue.

[2015-02-11 01:13] jdreed commented on #18
That sure sounds like base64 vs base64url encoding.  In base64, '+' and '/' are valid characters, but in base64url (which an OpenID Connect server should be using), they are replaced with '-' and '_' respectively.  PHP does not support the URL-safe version of base64 natively, and anything which attempts to perform regular base64 encoding/decoding on base64url-encoded data will eventually fail.

[2015-02-11 03:27] jricher commented on #18
The spec does not require that a client send a nonce, however it requires that if the client sends a nonce then the server MUST return it in the ID token. Google's in error here, and people should probably file a bug with them until they fix it.

[2015-02-12 15:35] mhauslerArcweb commented on #18
What's very strange about it is that the log in works fine in the morning, but never in the afternoon, and I have no leads as to what could cause that.

[2015-02-23 19:29] laureek commented on #18
I am also having this issue.  Is the current fix to comment out the nonce code?

[2015-02-27 17:35] jumbojett commented on #18
@laureek - If you are using it with Google as the provider, then "yes."

[2015-03-25 17:27] mhauslerArcweb commented on #18
As an update, I have the suspicion that the error only happening after noon has something to do with whether the encryption keys are seeded based on military time or not.  In the morning where military time is the same as regular time, the decrypted values are the same, but when noon hits, one changes and the other doesn't.

I was also wondering if using refresh tokens will be a future feature.  A

[2015-03-29 18:13] alexedelsburg commented on #18
I've issued a pull request, https://github.com/jumbojett/OpenID-Connect-PHP/pull/20, that I believe fixes this issue.

[2015-04-01 16:22] jumbojett commented on #18
Thanks @alexedelsburg!

@jdreed this change corresponds to some of your previous efforts. Preferably I'd like for you to test #20 and merge upon approval. Would that work?

[2015-04-02 01:06] alexedelsburg commented on #18
My pleasure :smile:

I've got a potentially related/useless PR to share as well: a toggle for the nonce. I actually left the nonce on after making this change and things seem to work for me, hence why it might be useless.

[2015-04-06 23:52] doonge opened #21 "error_description is optional"
AT

public function authenticate() {
        // Do a preemptive check to see if the provider has thrown an error from a previous redirect
        if (isset($_REQUEST['error'])) {
            throw new OpenIDConnectClientException("Error: " . $_REQUEST['error'] . " Description: " . $_REQUEST['error_description']);
        }

$_REQUEST['error_description'] is OPTIONAL, so a check needs to be done to

[2015-04-07 07:32] adi-ads opened #22 "How to check if user is already logged in?"
id_token and claims expiration are not stored so how to check if the user is already logged in or not?

[2015-04-07 18:17] jumbojett commented on #22
@adi-ads I'm not entirely sure if this answers your question.

Whether the user is "logged in" or "not" is determined by your application. The OpenID Connect library simply provides a way to get the identity of the user through a provider. This normally happens at an initial login. Ideally your app shouldn't have a persistent connection to the OIDC server. (i.e. monitoring the identity server for

[2015-04-08 07:54] adi-ads commented on #22
Yep it does

Did a sample here as well -
https://github.com/adi-ads/connect-app-php

Using a auth server I am helping build -
https://github.com/christiansmith/anvil-connect

Do drop by and have a look at our auth server, seems to work well with your client.

Cheers

[2015-04-08 07:54] #22 closed

[2015-04-08 15:57] jumbojett commented on #22
@adi-ads very neat! Thanks for pointing me towards those projects.

I like the concept of anvil. I'm wondering if it could be taken a step further and built into a firewall like Ubuntu UFW. Anyways, that's my food for a thought. :)

[2015-04-08 17:05] adi-ads commented on #22
Good idea, will definitely explore that. cheers!

[2015-04-21 14:42] zmon opened #24 "Is there a list of providers that work with OpenID-Connect-PHP? Does it work with GitHub"
I have been able to use this with Google and SalesForce
- ... = new OpenIDConnectClient("accounts.google.com", '28...", "9328");
- ... = new OpenIDConnectClient("https://login.salesforce.com", '3MV...", "xyz");

Has any one been able to use this with GitHub and others?  if so can you share how you connected.

[2015-04-22 18:21] jumbojett commented on #18
This issue should be resolved with the latest commit.

[2015-04-22 18:21] #18 closed

[2015-04-22 18:24] jumbojett commented on #24
Good question @zmon. I'm interested as well. I'd like to add a list to the documentation. Thanks for starting this thread.

[2015-04-23 19:34] billsimon commented on #24
Re: the Google integration. Like @zmon I just use 'accounts.google.com' for the provider_url variable. The README shows a scheme and hostname like https://accounts.google.com. Which is it? I think when I first set it up I used https://accounts.google.com and it didn't work so I went with the bare name of accounts.google.com. Just today, I found that the claims validation was failing because Google

[2015-04-23 20:34] zmon commented on #24
@billsimon I just went back to my code (which has not changed since testing my pull request)  and found that accounts.google.com failed... Adding the https fixed it.  They must of changed something.

[2015-04-23 20:35] zmon commented on #24
@jumbojett Added a wiki page for a list of providers.

[2015-04-23 20:45] jricher commented on #24
Google's in the middle of testing for certification with the OpenID Foundation, so I wouldn't be surprised if they were fixing a bunch of slightly-off-spec things in the process (like the issuer value which is supposed to always start with https).

[2015-04-23 20:49] billsimon commented on #24
Nice timing... I guess it's always the middle of the afternoon somewhere in the world. OK, thanks for the confirmation. I was puzzled.

[2015-05-04 19:52] svrooij opened #29 "Some commit broke IdentityServer3 compatibility"
[This commit](https://github.com/jumbojett/OpenID-Connect-PHP/commit/19a23a84110095188c0d45492e56bd2d4bdebb43) broke the ability to use [IdentityServer](https://github.com/IdentityServer/IdentityServer3)

Could you explain why this code checks for `isset($header->kid)` ?

IdentityServer doesn't provide the alg parameter in their [.well-known/jkws](https://tas.fhict.nl/identity/.well-known/jwks)

[2015-05-04 20:32] jumbojett commented on #29
Hi @svrooij can you checkout the `jumbojett-patch-1` branch and let me know if it fixes the issue?

[2015-05-05 08:31] svrooij commented on #29
Will check later today, but for what I can see that will solve the issue.

[2015-05-06 13:22] svrooij commented on #29
With this patch it generates a notice ```Notice: Undefined property: stdClass::$alg in /home/i872953/domains/i872953.iris.fhict.nl/public_html/openid/OpenIDConnectClient.php5 on line 409```

If I change [line 406/407](https://github.com/jumbojett/OpenID-Connect-PHP/blob/jumbojett-patch-1/OpenIDConnectClient.php5#L406) to
[code]

It works like a charm

[2015-05-06 13:57] cicalese commented on #29
Unfortunately, although I'm not an expert in the protocol, I think this solution could cause problems for other providers (but I do think there is an alternate solution that will work for both). If you look at the Google provider metadata at https://www.googleapis.com/oauth2/v3/certs, you'll see that there are two keys with $key->kty of 'RSA'. With the code above, it would always return the first

[2015-05-06 14:01] cicalese commented on #29
Also (again, not being an expert in the protocol), I wonder why $header->alg is not set, since it appears that it is a required header parameter (see https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-41#section-4.1.1), while $header->kid is optional.

[2015-05-06 14:02] svrooij commented on #29
It is not set in the $key

[2015-05-06 14:04] cicalese commented on #29
Ah, then my fix above won't catch it, since I look for it being set in $header.

[2015-05-06 14:12] cicalese commented on #29
So, the check would have to be something like:

    if ((!(isset($key->alg) && isset($key->kid) && isset($header->kid)) && $key->kty == 'RSA') || ($key->alg == $header->alg && $key->kid == $header->kid)) {

but that isn't very pretty. It doesn't need to check for $header->alg, since it is a required header parameter and gets checked in the switch statement outside the current function. I haven't h

[2015-05-06 14:16] svrooij commented on #29
I seem to have fixed it. https://github.com/svrooij/OpenID-Connect-PHP/commit/a894424f7e6090e558100b95a520c31d2cc6c078

[2015-05-09 16:30] jlukic opened #32 "Add Release Version / Changelog"
This is just a minor suggestion, but it would help for those who are using your library to include a version number and a change log to help understand what's new since we've last visited.

[2015-05-11 11:14] kace91 opened #33 "Can I get some clarification about the correct steps to follow?"
Excuse my lack of knowledge, it's the first time I implement an authorization system.

If understand the system correctly, when a user signs in for the first time I should do something like the dynamic registration example, take both the client id and client secret from the provider and store them in my database. Is that correct?

Then, the next time a user tries to log in, how can I check their i

[2015-05-11 11:48] jricher commented on #33
The client ID identifies the client -- your application -- to the server. It does not identify the user at all. What you can do is use your client ID (and secret) to get an ID Token for each user. The ID token will have two fields inside of it that, when taken together, uniquely identify the user: `iss` and `sub`. The `iss` is a URL that identifies the identity provider and the `sub` is an opaque

[2015-05-11 16:57] jumbojett commented on #33
@kace91 I'd like to add the following in addition to what @jricher has stated.

You can think of *client id* and *client secret* has the global user name and password for our application in regards to the identity provider. (Identity provider being google, salesforce, etc...)

Consider the following snippet. Hope this helps!

[code]

[2015-05-11 16:57] #33 closed

[2015-05-12 07:21] kace91 commented on #33
@jumbojett thanks for your help! It's all much clearer now.

One last question: The authenticate method is supposed to ask the user for permission. However, I see there's code below it showing the retrieved data. Isn't the authenticating process supposed to redirect to a callback page? If so, how (and when) does the code below authenticate get executed? (given that php is executed server side befo

[2015-05-14 02:31] zmon commented on #24
A list of [implementations have been granted certification](http://openid.net/certification/) by OpenID

[2015-05-14 20:47] herchila opened #34 "Trying to get property of non-object"
Hi,
I recently try to test it but...

[code]

Any clue?

Thanks!

[2015-05-21 16:04] jumbojett commented on #34
@herchila - First thought:  Verify that your provider has a well known configuration available.
In other words see if the following endpoint exists: `https://provider.url.com/.well-known/openid-configuration`

If it doesn't you'll have to manually set your provider's details with the class methods.

[2015-05-21 16:06] jumbojett commented on #24
@zmon Good find!

[2015-05-21 16:08] jumbojett commented on #32
@jlukic This is much needed. Any suggestions for a versioning format?

[2015-05-26 18:08] bpteague opened #35 "Google OIDC provider: can't verify JWT signature"
I'm having trouble using Google as an OpenID Connect provider.  I've been debugging with client_example.php and poking around with Firebug, and it looks like things are getting hung up verifying the JWT signature: the exception I get is "Unable to verify signature."

Things I've checked:
 - The code is finding the right key to check the signature with.
 - If I disable the JWT signature check, ever

[2015-05-26 18:26] piersharding commented on #35
Hi -
are   you   using   something   like ?  :

$oidc = new OpenIDConnectClient('https://accounts.google.com',
$pluginconfig->clientid,
$pluginconfig->secret);
$oidc->addScope(array("openid", "email", "profile"));
$oidc->authenticate();

Cheers ,
Piers   Harding

[2015-05-26 20:47] bpteague commented on #35
Yes, that's exactly the configuration I'm using.  Everything works until the call to $rsa->verify(); and if I ignore the return value, everything works fine.

[2015-05-27 15:29] cicalese commented on #35
I believe that I'm intermittently having the same issue, which I discussed at https://github.com/jumbojett/OpenID-Connect-PHP/pull/28.

[2015-05-27 15:34] bpteague commented on #35
I agree that it may be the same issue (though I've never seen the authentication go through.)  I have the same problem with the MIT OIDC provider, which uses MITREid Connect: https://github.com/mitreid-connect/

[2015-07-17 12:40] juanifioren opened #38 "UserInfo endpoint MUST support Bearer Token Usage"
Hi,
UserInfo endpoint should have support for [Bearer Token Usage](http://tools.ietf.org/html/rfc6750). Am using [this framework](https://github.com/juanifioren/django-oidc-provider) as the provider. See how expect request:

[code]

This package use query string for access token.

[code]
#### The Spec say:

Greetings!

[2015-07-17 17:06] jricher commented on #38
We solved this in our Java client by having a configuration switch to select the token presentation method:

https://github.com/mitreid-connect/OpenID-Connect-Java-Spring-Server/commit/325a200f167f373b147ad0dbdb7673379d434475

[2015-07-17 17:48] juanifioren commented on #38
Yup, nice @jricher. I'll have to add Query support also haha.

[2015-07-28 18:07] juanifioren opened #39 "The Client is making double requests to Provider"
Hi,

My error is `Unable to verify JWT claims` but when I saw the requests that my provider receives, realize that for example is double POSTing the `/token` endpoint.

[code]

Is this bad or am I wrong?

Greetings.

[2015-09-04 14:36] guss77 opened #40 "No license information"
Hi, this library is missing a license specification.

I want to fork it to make it a bit more complicated for my specific need, but without an Open Source license I can't really do it.

Can you please specify what license this library is distributed under? I'd appreciate it if in can be a BSD or MIT license, but I can work with most OSI approved licenses, if you rather use something else.

[2015-09-04 14:49] jricher commented on #40
I'd recommend the Apache license for this project. In my experience it has the best balance of rights and protections.

@guss77 Thank you for being mindful of the licensing terms! Many developers aren't and it's great to see that.

[2015-09-04 14:51] #40 closed, assigned to nobody

[2015-09-16 04:07] jumbojett commented on #39
@juanifioren Apologies for the late reply.
`Unable to verify JWT claims`  - This normally means the provider URL is incorrect. Try adding a slash to the end of the provider url. (i.e. `https://provider.url/` instead of `https://provider.url`)

[2015-10-20 15:52] Lele commented on #39
Hi,
I think that this problem is due to the fetchURL function: the curl_exec is called twice. I noticed that there is already a pull request regarding this issue. Greetings,

E.

[2015-10-20 15:59] juanifioren commented on #39
Thanks for clearing out @Lele.

[2015-10-27 17:43] jumbojett commented on #39
@Lele Thanks for bringing this to my attention. @juanifioren I just accepted the referenced PR. The fix is in master. Re-open if you have still have issues.

[2015-10-27 17:43] #39 closed

[2016-02-01 18:05] Spitzbub opened #43 "Should the timestamps in the claims be validated?"
Looks like the code covers the first couple of the items in the list at http://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation, but not the others, for example, expiration time. Is this intentional?

[2016-02-02 22:14] jumbojett commented on #43
@Spitzbub It was not intentional.
@jricher do you have any input?

[2016-02-09 01:55] cacheuk opened #44 "Unable to verify JWT claims"
I'm using a simple test of:

[code]
but keep getting:

[code]

any ideas?

[2016-02-13 22:36] tominovak33 commented on #44
Hello,
just change "https://accounts.google.com/" to "https://accounts.google.com" (so remove the forwardslash) at the end of your provider URL

I think the reason it is failing is because after the redirect is done google sends back a field specifying what the issuer URL was and the discrepancy means that while the request works  'https://accounts.google.com/' does not match the expected 'https:/

[2016-03-03 18:06] abdulart opened #45 "A trouble setting up the OpenIDConnectClient.php"
Hello. I apologise for my weak skills, but this kind of code really tough, that is why I would like to ensure right set up of this client.

So, I installed package OpenID-Connect-PHP-master , that includes (README.md, OpenIDConnectClient.php, LICENSE.txt,  composer.json, client_example.php).
Client_example.php includes the following code:

`<?php

require "../../autoload.php";   # ** # <--- I dont

[2016-03-04 03:06] rasodu commented on #45
Hi abdulart,
This library can now be installed using composer. Additional instructions for installation are added to readme file. 'autoload.php' file created by composer to handle autoloading of all packages installed using composer. Let me know if you still have trouble installing.

[2016-03-04 11:01] gnm67 commented on #45
Hi, i'm on windows 'composer' doesn't work.

[2016-03-04 18:37] abdulart commented on #45
rasody, thank you for answer. But I still do not understand what actually means installing this package.

I do need on my website to have an abstract button, when you push it this OpenId client gets users data and sends it back to my database.

Which code from archive I downloaded should I insert on my site? Where should I get file autoload.php
And where to get a composer?

Thank you.

[2016-03-05 02:38] rasodu commented on #45
You can read section 2(linux, unix or osx) or section 3(windows) at https://getcomposer.org/doc/00-intro.md for steps on installing composer.

Once you run composer command to install package, it will create 'vendor/' folder in the directory where you ran the command. This folder will contain an 'autoload.php' file(vendor/autoload.php) and some other folders.

Only file you will need after install

[2016-03-07 10:14] abdulart commented on #45
rasodu. Thank you for your answers,

I did installed composer, and now the only thing i missed is how to create the command for composer to install the package

Thank you.

[2016-03-07 18:02] jumbojett commented on #45
@abdulart `composer require jumbojett/openid-connect-php`
Closing this PR. Feel free to re-open if you're still having issues.

[2016-03-07 18:02] #45 closed

[2016-04-11 23:18] ftzdomino commented on #44
Would an rtrim($url, '/') during the comparison cause any security issues?

[2016-04-12 12:31] jricher commented on #44
@ftzdomino Yes. It may seem simple in this case but you're getting into a strange world of black magic if you start doing matching other than strict string matches. Nonexact matching (of redirect URIs, but it's the same principle) has been at the root of a few different major security breaches in the wild.

[2016-06-14 16:50] jeffschaefer1 opened #49 "Readme requirements need to be updated"
Additional requirements include phpseclib and composer. I recognize that this is one file and for most it is easy to figure out where it goes but if you are going to include installation instructions and they require composer, I would argue that the package requires composer.

[2016-06-21 14:07] jumbojett commented on #49
I agree @jeffschaefer1. Would you mind submitting a PR with proposed changes to the Readme?

[2016-06-21 14:07] #49 closed

[2016-06-25 13:28] Hornwitser opened #54 "How do I use this?"
I want to authenticate users with OpenID in my application, and this library describing its goal of

makes this a perfect choice as I've never dealt with OpenID before, and I just want it to work (tm).  But I can't wrap my head around any of this.  Am I supposed to read the OpenID specification and the source code of this library to understand how to use this?  I thought that was what this library

[2016-06-25 13:43] jricher commented on #54
Thank you for pointing that out, and we look forward to your pull request providing documentation to your standards.

[2016-06-25 13:43] #54 closed

[2016-06-25 14:52] Hornwitser commented on #54
As much as I would like to, I do not have the time nor the resources to properly familiarize myself with the 80k words of specifications that compromises the basics of OpenID Connect operation.  It was my expectation that this library would let me avoid that.  Because of this, I will be unable to provide the level of quality and correctness to such a documentation that I would deem adequate.

In o

[2016-07-27 17:44] Tormalik opened #56 "typo line 421"
`421:         if (sizeof($this->setResponseTypes) > 0) {`
should be
`421:         if (sizeof($this->responseTypes) > 0) {`

[2016-07-27 19:35] corentingi commented on #56
I made a PR that solves this #55
This currently waiting for approval, for now you can point your composer to my repository if you will.
https://github.com/corentingi/OpenID-Connect-PHP

Enjoy ;)

[2016-08-02 11:44] jumbojett commented on #56
Merged - Thanks @corentingi

[2016-08-02 11:44] #56 closed

[2016-08-12 18:54] philcarbone opened #57 "Release another update?"
Hello,

Is it possible to release another composer update for this? Looks like its been a while and there are some good changes in the code :)

[2016-08-12 19:48] frank-herbert commented on #57
Try add this repo in your composer.json to download the package directly from GitHub

[code]

[2016-08-12 20:13] rasodu commented on #57
@jumbojett We need to decide version number that we will use for new release. Composer recommends using Semantic Versioning(http://semver.org/).

A version number below 1.0.0 indicate that your are developing project. (And may break backward compatibility from one version to another without changing Major number in version number) We are currently released as version 0.1.0

If you think that you d

[2016-08-12 20:23] rasodu commented on #57
Hi @frank-herbert,
You don't need to define repository url in you composer.json since the package is already released on packagist.

You can simply do ```composer require jumbojett/openid-connect-php:dev-master``` or add ```"jumbojett/openid-connect-php": "dev-master"``` to composer.json install latest code from master branch.

[2016-08-21 17:21] mrmorcs opened #58 "Repeated port in redirectURL parameter when running under IIS"
I'm running a test client under IIS at https://localhost:44396/.

When the code redirects to the identity provider - it is adding the port number twice in the redirectURL (i.e. https://localhost:44396:44396/)

I've tracked this down to the use of _SERVER["HTTP_HOST"], which in my case includes the port.

I've modified the code to strip the port if present. I'll try and send a pull request with thi

[2016-08-22 14:37] bigjumpjames commented on #58
N.b. Apparently this value is the raw host header sent by the browser, so it's probably more to do with what browser I was using rather than IIS.

[2016-08-23 14:16] jumbojett commented on #57
We've needed versioning for a while. @rasodu I appreciate the initiative. I see this as priority and I don't want to be a bottleneck in this effort. You're welcome to create and accept PRs without my review. What you've described above aligns with what I'm thinking.

Yes 👍

I'm fine with this.

[2016-08-28 05:35] genebean commented on #44
It seems I need some help with this one too... removing the trailing slash didn't fix this for me. I have tried switching to the repo, and not specifying a version to composer and both give me this error:

[code]

If I switch to the version in the readme (`0.1.*`) I get a different error:

[code]

My code looks like this:

[code]

[2016-08-29 22:14] genebean commented on #58
I am running into this same issue when testing under vagrant...

[2016-08-30 00:03] genebean commented on #44
Disregard... it seems I had the provider url in two places and one of them still had a / on the end of it.

[2016-08-30 13:45] jumbojett commented on #44
Roger that @genebean. Glad you were able to get it working! 🎉

[2016-09-09 14:21] mrmorcs commented on #58
@genebean now fixed https://github.com/jumbojett/OpenID-Connect-PHP/pull/59

@jumbojett should I close this issue now? :)

[2016-09-20 13:49] #58 closed

[2016-09-20 13:49] jumbojett commented on #58
Closed! Thanks @mrmorcs 👍

[2016-09-20 23:25] genebean commented on #58
👍 Thanks! I'll get back to playing soon now that this is resolved :-)

[2016-10-20 15:04] radenui commented on #43
I believe this is addressed by #61
`exp` claim is validated along with non standard `nbf` (not before) claim

[2016-10-20 15:36] jumbojett commented on #43
Closing based on recent PR.

[2016-10-20 15:36] #43 closed

[2016-12-30 10:12] rask opened #64 "PHP incompatibility"
The package has a PHP version requirement of `>=5.2`, but the code contains 5.2 incompatible code, e.g. short array declarations. Example in https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/OpenIDConnectClient.php#L470

[2017-01-02 16:30] jumbojett commented on #64
Thanks @rask ! 👍 I just bumped the requirement. Feel free to submit a PR in the future.

[2017-01-02 16:30] #64 closed

[2017-01-17 21:28] ahamilton9 commented on #44
I had an issue with this message as well, but not the same underlying issue. The "Not Before" claim was coming in a second ahead of our server time, and wouldn't allow it to validate. There are 6 checks going on in this function. Would it make sense to make separate exceptions, or at least different messages for the individual checks? It took me quite a bit of time to figure out what was going on.

[2017-01-23 16:44] #21 closed

[2017-02-28 17:15] harkenn commented on #57
How should we go about petitioning for the marking of a new release? Indefinitely using dev-master in composer isn't a viable solution

[2017-03-03 17:12] rajnisheu opened #75 "OpenIDConnectClientException: Cannot supply client credentials in both the Authentication header and the request-body"
Hi, I am using okat to test from my localhost xampp install on windows. First I got an error regarding phseclib which I had to include. This is my code with cert turned off for now:

[code]

Am redirected to okat and able to pass my creds. Also getting correctly redirected to local file after entering creds on okat. On callback to local am getting the following error:
OpenIDConnectClientException:

[2017-03-10 08:21] asmarius opened #77 "Unncessary getProviderConfigValue("token_endpoint_auth_methods_supported") call?"
I'm wondering about why there is an unused variable in line 481 https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/OpenIDConnectClient.php#L481 of OpenIDConnectClient.php

`        $token_endpoint_auth_methods_supported = $this->getProviderConfigValue("token_endpoint_auth_methods_supported");
`

Is it by intention to throw an error if there is no "token_endpoint_auth_methods_supported" co

[2017-03-10 14:42] jumbojett commented on #77
Good question @asmarius. The variable is definitely not needed. (I think it was a copy from line 509.) I'd like you to get credit for contributing to our project. Would you mind submitting a pull request for this change?

[2017-03-10 14:46] jumbojett commented on #75
Hi @rajnisheu ! My thoughts are as follows.

1. It appears that you're not using composer to install the library. (Thus the missing libs error.)
2. `id` and `secret` are place holders for actual value that need to be obtained from your provider. Are you using actual values in this place?

Closing the issue for now. Feel free to re-open if you have additional questions!

[2017-03-10 14:46] #75 closed

[2017-03-10 16:21] rajnisheu commented on #75
I can't find how to re-open this for topic no 2.
There's an issue when un-setting array fields in case of `client_secret_basic` which is fixed by also un-setting `client_id` as follows:
[code]
Could be Okta specific. Will run tests with other providers.

[2017-03-29 10:56] msantic opened #78 "phpseclib version"
I'm getting PHP Fatal error:  Undefined class constant 'PUBLIC_FORMAT_XML'. I see in the code you are using Crypt_RSA::PUBLIC_FORMAT_XML syntax while latest version from http://phpseclib.sourceforge.net doesn't have class constant. Am I missing something obvious?

[2017-03-29 13:22] jumbojett commented on #78
@msantic thanks for reporting this.

1. Did you install our lib using composer? (It calls for a specific version of phpseclib.)
2. Which version of PHP are you using?

[2017-03-29 15:07] msantic commented on #78
1. No, I just pulled from GitHub. Just tried with composer install and it works as expected now. Thank you
2. php -v
     PHP 5.5.9-1ubuntu4.21 (cli) (built: Feb  9 2017 20:54:58)

[2017-04-11 13:24] #78 closed

[2017-05-04 10:43] kenguest commented on #57
As @harkenn  as already alluded to, using dev-master in composer for projects using this library on production servers is just asking for serious problems, so could we please get a new release containing the bug fixes and extra functionality since v0.2.0?
Perhaps pulling in extra goodness from the many forks of this project that are out there?

[2017-05-04 10:58] rasodu commented on #57
Version 0.3.0 is released.

We need to add changelog file for for the project(http://keepachangelog.com/en/0.3.0/). @kenguest can you make a pull request to create the file. Also if you can add a note in readme that all the future pull request should add an entry to this file so we know how to increment the version.

[2017-05-04 11:24] kenguest commented on #57
Version 0.3.0 is not showing up on packagist [yet] - https://packagist.org/packages/jumbojett/openid-connect-php ...

[2017-05-04 12:00] rasodu commented on #57
Fixed. It is now showing up.

[2017-05-04 13:42] kenguest commented on #57
Those multiple commits should not have happened - first time doing a PR through the github website rather than the command line and it seems to have... been a unique experience. Apologies for that.

[2017-05-09 00:40] rasodu commented on #57
I think we need to break #80 into multiple pull request
1. Add chagelog
    - Add CHANGELOG.md
    - Add short notes for developers requesting that pull request should add an entry to CHANGELOG.md if their pull request effects functionality of the project. Either we can add the note to README.md, or we can add new file CONTRIBUTING.md.
    - Add .github/PULL_REQUEST_TEMPLATE.md. This file will con

[2017-05-17 14:37] blafasel42 commented on #34
i have a similar issue:
PHP Notice:  Trying to get property of non-object in .../OpenIDConnectClient.php on line 290
PHP Fatal error:  Uncaught OpenIDConnectClientException: The provider authorization_endpoint has not been set. Make sure your provider has a well known configuration available. in .../OpenIDConnectClient.php:295

the exception is cool now, points to the right problem. but is it poss

[2017-05-17 18:01] jumbojett commented on #34
@blafasel42 sure thing!
[code]

[2017-05-17 18:01] #34 closed

[2017-05-17 20:50] identitymonk commented on #44
Hi,

There is also a problem in the provider URL.

When constructed, the OpenID Connect configuration ask for the base provider URL to which it automatically add the /.well-known/openid-configuration suffix. Then the $wellKnown value is loaded with all the openid server properties, including the issuer url.

Then in the function verifyJWTClaims the return value should be:

return ((**$claims->iss

[2017-05-17 20:52] identitymonk commented on #2
yes in fact, when constructed, the OpenID Connect configuration ask for the base provider URL to which it automatically add the /.well-known/openid-configuration suffix. Then the $wellKnown value is loaded with all the openid server properties, including the issuer url.

Then in the function verifyJWTClaims the return value should be:

return (($claims->iss == $this->wellKnow->issuer)
&& (($claims

[2017-06-01 12:59] screambeard opened #83 "Google OpenIDConnect Exception for ISS verification"
He,

Some of the previous issues did mention a specific problem of the Google OpenIDConnect API, but I hope to revive this issue to create a fix.

As mentioned in the [docs](https://developers.google.com/identity/protocols/OpenIDConnect) of OpenIDConnect of Google, the ISS returned from google can be two values:

I've read up for other packages how they handle this problem, for example the Google

[2017-06-01 15:07] jumbojett commented on #83
@screambeard thank you so much for raising this. Feel free to submit a PR. Both seem logical @rasodu @jricher @screambeard which option would you vote?

[2017-06-02 14:09] shadowhand commented on #57
I'm happy to help with this effort. I have a lot of experience with moving packages towards PSR compliance and developing releases. See [league/oauth2-client contributions](https://github.com/thephpleague/oauth2-client/graphs/contributors).

[2017-06-02 16:55] jumbojett commented on #57
@shadowhand I'm all for collaboration!
@kenguest @rasodu  can you add @shadowhand to your fork of the repo?

[2017-06-03 17:40] rasodu commented on #32
We are fixing this in #57

[2017-06-03 17:40] #32 closed

[2017-06-03 18:03] rasodu commented on #57
@shadowhand Current class is not namespaced. I think next step should be to add namespace to the class. Can you create a new pull request for this? This will have few ramifications(Mainly BC break). We will discuss them further in the pull request.

@jumbojett @kenguest @shadowhand We need to decide the name we will use for namespace. @shadowhand will need it to kick off the effort. Does anyone ha

[2017-06-03 18:15] rasodu commented on #35
@bpteague Is this related to #83? If it is, then you can close the issue and join the discussion there. @screambeard has some suggestions to fix the error.

[2017-06-03 21:05] shadowhand commented on #57
I would strongly suggest not using a person as the root namespace. I think `PhpOpenId\OpenIdConnect` would be perfect.

[2017-06-05 14:23] jumbojett commented on #57
@rasodu I vote for `Jumbojett\OpenIDConnect` simply b/c it would be easier to trace the library back to the source from a composer search. The fact that it's "PHP" is more of an advertisement outside of composer :).

@shadowhand could you elaborate? I can see where it would appear more official, but without a github organization or domain, I fear it might mislead.

[2017-06-05 14:28] shadowhand commented on #57
@jumbojett Composer includes a `source` link on every page, being able to discover the Github page is not a problem.

The problem with using a person as the root namespace is if it gets abandoned, everyone is going to have to update their composer references and there is more friction. Using an organization, even if it *currently* points to a personal Github page, is safer in the long run because

[2017-06-07 12:22] jumbojett commented on #57
I value your expertise and input @shadowhand. I also understand your reasoning. This repo has been active for almost 5 years. People in the OIDC community link here for support and references. Our library is focused on minimalism. (one single php file) In a way, I feel like not having an organization reflects that. @rasodu let's roll with with the `Jumbojett\OpenIDConnect` namespace for now unless

[2017-06-08 08:25] kenguest commented on #57
@jumbojett - as you say, people link. You could simply link from Jumbojett\OpenID-Connect-PHP repo to a superseding repository. Take a look at https://github.com/manuelpichler/phpmd - this is what happened there.

Similarly the official repo for PEAR's Auth_SASL2 repo is at https://github.com/pear/Auth_SASL2 - not the original author's repo at https://github.com/CloCkWeRX/Auth_SASL2.

Links can be

[2017-06-09 13:29] jumbojett commented on #57
I'd like to make sure we distinguish our library from others. There's already other php OIDC libraries that are PSR2 compliant and more for the individual who wants something that conforms to a standard. (https://github.com/ivan-novakov/php-openid-connect-client)

The goal of this project is readability and minimalism. Less dependencies and less code.

_That said..._
@kenguest if you and @rasodu t

[2017-06-12 12:56] harkenn commented on #44
I have the same issue as mentioned by @ahamilton9

Not sure if its appropriate to fuzz the time checking by even the slightest amount (a couple of seconds?) but otherwise I'm not sure exactly how to handle this situation.

[2017-06-12 15:02] jumbojett commented on #44
@harkenn make sure you remove the trailing slash on the provider url.

👍 `https://provider.url`
👎 `https://provider.url/`

Make sense?

[2017-06-14 08:57] screambeard commented on #83
my apologies, it's been a while. however, i've been thinking about this and would suggest the following method:

- [ ] add a function to add extra provider urls. similar to the addScope function. this extra provider urls will only be used in the verifyJWTclaims function

- [ ] in the verifyJWTclaims function check if the $claims->iss with is in the array which consist of: the standard providerUrl

[2017-06-20 17:12] svrooij commented on #83
How about just creating an array of expected issuers, check with that and throw an error is the issuer is not in the array? That is the recommended way to validate JWT tokens anyway.

[2017-06-20 17:30] svrooij commented on #38
This issue was fixed a long time ago, by [this commit](https://github.com/jumbojett/OpenID-Connect-PHP/commit/efff1b70e83545ffdb79b3109f3092b698261585).
Can this be closed?

[2017-06-20 20:23] jumbojett commented on #38
Yep @svrooij ! Thanks!

[2017-06-20 20:23] #38 closed

[2017-07-10 14:22] jumbojett commented on #57
@shadowhand I've been thinking about your proposal. If you would like to take the initiative to create the organization and import the PSR2 compliance work currently in progress then let's run with it.

Steps:

* Create github org
* Merge PSR2 work
* Update versioning
* Incorporate automated testing for PRs

This project could benefit from your expertise. Feel free to email me directly if you have

[2017-07-17 11:29] max-wittig opened #87 "Relicensing possible?"
I would like to use your library for the [Fossology project](https://github.com/fossology/fossology).
Because your project is licensed under the Apache-2.0 License it would be unfortunately not possible to integrate it, as the Apache-2.0 License is not compatible with the GPL-2.0 License. Would you mind changing the license or to add dual-licensing to your library to be compatible with Fossology?

[2017-07-17 15:05] jumbojett commented on #87
@max-wittig we'd be willing to work with you.
@jricher guidance?

[2017-07-17 15:54] jumbojett commented on #87
@max-wittig please send an email to poornima@mitre.org and reference this discussion.

[2017-07-17 15:54] #87 closed

[2017-08-02 20:46] shadowhand commented on #57
@jumbojett I dropped the ball here. My interest in working on this package was based on a work need. The project has changed and we will no longer be using OpenID. If something changes in the future, I will happily contribute to this package.

Apologies for the late response. :(

[2017-08-03 14:15] jumbojett commented on #57
@shadowhand no worries! Thank you for the update. If something changes, please let us know. I value your expertise.

[2017-08-07 14:41] jumbojett commented on #57
Inviting @guss77 to the discussion.

[2017-08-07 17:23] guss77 commented on #57
Thanks @jumbojett - I'm happy to be involved. I'm currently maintaining a fork at https://github.com/con-tools/Auth-OpenID-Connect where some PSR-1 was done, in addition to some minor API changes.

I'm interested in completing more PSR-1/2/4 work, before maybe discussing opening the API a bit for extension.

The next thing on @rasodu list is adding the top level `\Jumbojett` namespace and move the

[2017-08-08 06:25] guss77 commented on #57
Regarding the merging existing PRs before merging the PSR-2 work, I'm willing to review and fix merge conflicts for any existing PR that there is interest in still completing.

@jumbojett - if you have time to review existing PRs, close what you are not interested in merging and pinging me on any that you are, I'll review and fix what is still open.

[2017-08-09 13:00] jumbojett commented on #57
@guss77 I just gave you collaborative access to the repo. You are welcome to review and merge as necessary!

[2017-08-09 13:09] christiaangoossens commented on #24
I would like to add that this library (without modifications) does not work with Azure AD, although it has been OpenID Certified. This is due to the fact that the provider (discovery) URL given to OpenIDConnectClient is on the https://login.microsoftonline.com/ domain (see: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-openid-connect-code), while the to

[2017-08-09 13:58] Bubomir opened #93 "undefined index $_SESSION['openid_connect_state']"
Hi I tried to use basic authentication from example but got error on line 1090

    Undefined index: openid_connect_state

my code is

      $oidc = new OpenIDConnectClient($providerUrl, $clientId, $clientSecret);

      $oidc->authenticate();
      $oidc->addScope('email');

      $clientCredentialsToken = $oidc->requestClientCredentialsToken();

Thanks for any help

[2017-08-09 14:45] jumbojett commented on #93
@Bubomir Thanks for the feedback. What version of PHP are you using? What provider are you trying to connect to?

I would make sure PHP SESSIONS are working properly. Set your debugger near the following and make sure the state is able to be set.

[code]

I hope this helps.

[2017-08-09 15:23] Bubomir commented on #93
I'm using

    PHP 7.0.18 with Symfony 3.3.0

my test provider is

    https://mojeid.fred.nic.cz/

link to doc:

    https://www.mojeid.cz/dokumentace/html/

the state is never set when i tried to verify it

I think is because before is condition on line 234 where is call this->getState() before the setState() call.

    if ($_REQUEST['state'] != $this->getState()) {
        throw new OpenIDConne

[2017-08-10 15:43] kenguest opened #94 "Timeout value is too big."
The CURLOPT_TIMEOUT value (in the fetchUrl method)  is too big - 60 seconds - and really should be configurable.

[2017-08-10 16:18] kenguest commented on #94
This pull request addresses the issue: https://github.com/jumbojett/OpenID-Connect-PHP/pull/95

[2017-08-10 17:53] #94 closed

[2017-08-10 17:54] jumbojett commented on #94
Thanks @kenguest !

[2017-09-26 09:00] info-kishorkunal opened #97 "Unable to login user to Mediawiki using inhouse identity server."
**Getting below error:**

**URL is -**

http://localhost/mywiki/index.php/Special:PluggableAuthLogin?code=91b01f5527c63868d1f8383c9dd4b9f5a2a4e873493c5761fcf1c77cd7feefa2&scope=openid%20email&state=81ec95aaffb00ffe7132e9738e908cac&session_state=BMo3BqCddmkNYzXleTM4p1LdoRQb7FLn9TfK5hygKjQ.2099bc7dbd791f3c98ae22216db8d02d

**configuration in local setting**

[2017-09-26 12:37] jumbojett commented on #97
@info-kishorkunal This is not an issue with the lib. This message simply means security may be in question. Something isn't matching with the response coming from your provider. Set your debugger around this line https://github.com/jumbojett/OpenID-Connect-PHP/blob/ac49aba7b45063f9c05ca6c1130e5f332a148bd8/src/OpenIDConnectClient.php#L275
and step through the response. Hope this helps!

[2017-09-26 12:37] #97 closed

[2017-09-27 05:51] info-kishorkunal commented on #97
Hi jumbojett, Yeah its working. Thanks a lot!!!

[2017-09-27 13:51] jumbojett commented on #97
Glad to hear @info-kishorkunal !

[2017-10-11 13:28] pfeiferbit opened #99 "Autoloading through Composer does not work"
_Irrelevant, error was on my end._

[2017-10-11 13:40] pfeiferbit commented on #99
I found the solution after looking up the `OpenIDConnectClient.php`.

The classes are available in the global namespace, therefore I had to remove the `use ...` statement.

I suggest updating the README to not confuse possible users.
And to use PSR-4 in the long run.

[2017-10-15 21:29] #99 closed

[2017-11-11 16:48] jackfruh opened #104 "Error in instructions?"
Hi, the instructions say to **`require '/vendor/autoload.php';`**

This assumes your project is on the root of a drive and returns an error if not:
`Fatal error: require(): Failed opening required '/vendor/autoload.php' `

[2017-11-11 17:12] jumbojett commented on #104
@jackfruh you'll need to install composer. https://getcomposer.org/doc/01-basic-usage.md
`composer init` in the base root of your project.

[2017-11-11 17:12] #104 closed

[2017-11-11 17:43] jackfruh commented on #104
I used composer to install the package, so I think composer is ok?

See
-Folder structure (top left)
-Code (top right)
-Error (bottom)
![2017-11-11_11-25-34](https://user-images.githubusercontent.com/334880/32691900-812f8090-c6d4-11e7-9732-8df1010ea595.png)

If I remove the leading slash, the error goes away:
![2017-11-11_11-34-35](https://user-images.githubusercontent.com/334880/32691906-8b15af94

[2017-11-13 20:35] jumbojett commented on #104
@jackfruh Have you tried `require __DIR__ . '/vendor/autoload.php';` ? It could be paths issue.

[2017-11-13 20:42] jackfruh commented on #104
I did try that and it got past the path issue, but still couldn't find the class.

[2017-11-13 21:08] jumbojett commented on #104
@jackfruh you might be using an old package. Try this:

[code]

I hope this solves the issue!

[2017-11-13 22:10] jackfruh commented on #104
Thanks! use Jumbojett\OpenIDConnectClient; is no longer flagging as an error in PHPStorm, so things are looking up!

[2017-11-15 13:23] jumbojett commented on #104
@jackfruh Glad to hear! I encourage you submit a PR with changes to the README if you think anything needs clarification.

[2017-11-21 11:18] jduepmeier opened #107 "requestUserInfo should maybe check if claim is already received by id token"
Some providers like [coreos/dex](https://github.com/coreos/dex) doesn't implement the userInfo endpoint.

Is it possible to check the received claims in the id token first before trying to get them with the userInfo endpoint?
This should be also a performance boost.

[2017-11-21 15:20] jumbojett commented on #107
🤔 @jduepmeier Good question. I'm sure you could extend the lib with your own class and override the method of interest.

Can you reference the line in the source if this were to happen?

[2017-11-27 05:23] jackfruh opened #108 "provider authorization_endpoint has not been set."
Having some trouble, and not sure what's wrong.

I've created a new OpenIDConnectClient by passing in the authorize url

Then I get an error stating "the provider authorization_endpoint has not been set.

How do I set that?

I tried addauthparam, but that didn't work.
Code snippet below.

	$providerurl = 'https://login.microsoftonline.com/xxxxx/oauth2/authorize';

	$clientID = 'abc123';  #azure Ob

[2017-11-27 12:41] jumbojett commented on #108
@jackfruh Does this help? https://github.com/jumbojett/OpenID-Connect-PHP/issues/34

[2017-11-27 14:45] jackfruh commented on #108
Hi Mike, it might?

MIcrosoft Azure has an openid-configuration url.
(https://login.microsoftonline.com/xxxx/.well-known/openid-configuration)
Do I need to pass that in specifically somewhere?

Also from my code above, I am trying to add the authorization_endpoint manually, but I still get the error - is there a different way to add the authorization_endpoint?

Thanks!

[2017-11-27 14:57] jumbojett commented on #108
@jackfruh Your provider base might not be set correctly.
Change
[code]
to something like this?
[code]

If this is correct then the lib will automatically pull in the `.well-known` config. See https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L361

[2017-11-27 17:25] jackfruh commented on #108
Fantastic! I'm getting redirected to Microsoft now for authentication!

I'm running this on a local dev server without SSL, and it looks like microsoft azure is seeing an SSL reply address from somewhere:

    AADSTS50011: The reply address 'https://azureadnocase.dev/' does not match the reply addresses configured for the application.

   I've added the following lines to my code:

    $oidc->setV

[2017-11-27 17:40] jackfruh commented on #108
I configured my local dev environment with an SSL certificate and added the SSL reply address to the application configuration in Azure.

I'm now making it out to Azure AD for authentication, then back to my app!

Unfortunately I get some errors about JWT claims:
` Fatal error: Uncaught Jumbojett\OpenIDConnectClientException: Unable to verify JWT claims in /Users/jack/Desktop/WebFiddle.test/AzureA

[2017-11-27 20:10] jumbojett commented on #108
@jackfruh This simply means you need to register the redirect URI (https://azureadnocase.dev/) with Azure. This is normally done when you first generate a clientID and secret. I'm guessing you can add it somewhere in Azure's admin panel.

[2017-11-27 20:29] jackfruh commented on #108
Thanks Michael, I had it registered without the https but it still wasn't working, so I just put a certificate on my dev server (per comment above)

Any ideas on the JWT stuff?

[2017-11-28 12:47] jumbojett commented on #108
@jackfruh Set you debugger near the error message and find out what claims don't match. That's the best way to figure it out!

[2017-11-28 12:47] #108 closed

[2017-11-29 07:42] Ralle75 opened #109 "Unable to verify JWT claims in /var/www/html/mw/vendor/jumbojett/openid-connect-php/OpenIDConnectClient.php:281"
Hello,

i have the problem see above.
 [This](https://github.com/jumbojett/OpenID-Connect-PHP/issues/44) doesn't help, I have no trailing slash in my url
 I get a logon form from my Identity Server, and then I get this error

`[DBConnection] Wikimedia\Rdbms\LoadBalancer::openConnection: calling initLB() before first connection.
[DBConnection] Connected to database 0 at 'localhost'.
[session] Sessi

[2017-11-29 13:39] jumbojett commented on #109
@Ralle75 This is a security check. Set your debugger here and find out what doesn't match and correct the settings.

[2017-11-29 13:39] #109 closed

[2017-11-29 14:10] Ralle75 commented on #109
sorry but what do you mean with set you debugger here?

[2017-11-29 14:59] jumbojett commented on #109
@Ralle75 If you have a PHP env with a debugger set a breakpoint here and examine the conditions. https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L747

Alternatively, you could alter the code to help troubleshoot.

[code]

Make sense?

[2017-11-29 15:25] Ralle75 commented on #109
there is a difference between iss (https://server_fqdn:443/oauth2/token) and ProviderURL (https://server_fqdn:443/oauth2/oidcdiscovery)

[2017-12-14 15:58] ivanPrunier opened #111 "Is there a specific reason to force version 2.0.1 of phpseclib?"
Hi,

I currently have phpseclib required in my dependencies, with the 2.0.9 version as a minimum. Is there any reason your package requires the version 2.0.1 of phpseclib specifically?

Thanks!

[2018-01-04 06:02] meghprkh opened #112 "isAuthenticated function"
This might be really dumb, but is there any higher level wrapper to check if the user is authenticated? (except the session variable)

[2018-01-04 10:27] lordelph commented on #112
If you mean "is the user authenticated in *your* application", then that's entirely down to you, as this doesn't maintain any state for you (aside from some session variables during the authentication itself). You would typically detect a user is not logged in, and if the `authenticate()` call returns, set up a suitable session state yourself.

See also #22

[2018-01-04 10:30] meghprkh commented on #112
Since there is no way of setting id token and accesstoken again, it makes less sense to not store them as session variables. I integrated that into the library https://github.com/felicity-iiith/OpenID-Connect-PHP/commit/7e488f9659e82afb1719260ffe7d2b5ff27beaad . But I am unsure if this is what the library wants as it may want the user to manage the state themselves and thus then the way sshall be

[2018-01-04 13:40] jumbojett commented on #112
@meghprkh see https://github.com/jumbojett/Wordpress-OpenID-Connect-Login for an example. Our lib is generic enough that you can extend the class and add your own logic.

[2018-02-07 11:02] NicolasToussaint opened #113 "Compatibility with GPLv2 Software"
Hello Michael,

I am setting up authentication using your OpenID-Connect-PHP library in the [fossology](https://github.com/fossology/fossology) solution.
However, I am blocked since Fossology is GPLv2, which is not compatible with ApacheV2.

Would you possibly consider adding (for example) a BSD license so that it could be used along GPLv2 products ?

This would be of great help, thanks,

Nicolas

[2018-02-07 13:13] jumbojett commented on #113
Hi Nicolas! Thanks for reaching out. I'd def consider it. Are there any caveats in doing this? (cc: @jricher )

[2018-02-07 17:09] NicolasToussaint commented on #113
Michael,
Thanks for considering it !

To my understanding (noting, that IANAL), the specific thing that makes Apachev2 not compatible with GPLv2 is the handling of patents (I think you agree to grant copyright license to anyone who receives the code with ApacheV2).

In fact, Fossology is GPLv2, so for me a dual license with either [BSD3](https://www.gnu.org/licenses/license-list.en.html#ModifiedBS

[2018-02-08 08:39] BigTonni opened #114 "Method requestResourceOwnerToken doesn't work without the header"
Hi!
Your library suits well in my project. Thanks! But when I use the method **requestResourceOwnerToken**, the request comes with an error. As it turned out, I need to add a header "Authorization: Basic" in the method. As in next method **requestTokens**. Then everything works.
When you tested this method, did you have an error? It may be worth adding the possibility that the person who uses this

[2018-02-08 11:51] jumbojett commented on #114
Hi @BigTonni ! Even though it's not mentioned in the spec, that sounds logical. If I recall, this method was submitted by another user. Adding the header shouldn't break the flow for others. Do you mind giving it at first pass and submitting a PR?

[2018-02-08 12:33] BigTonni commented on #114
Hi @jumbojett !
What is needed for this? Do I create a separate branch and push a commit with code changes for this method?

[2018-02-08 13:42] jumbojett commented on #114
@BigTonni Pretty much! This guide should help. https://help.github.com/articles/creating-a-pull-request/

[2018-02-08 14:29] jumbojett commented on #113
@NicolasToussaint Thanks for the detail! If there are no other concerns, would you like to submit a PR for this? _Add dual licensing via BSD3_ I'll be sure to review it as soon as possible.

[2018-02-09 08:41] BigTonni commented on #114
@jumbojett , share the rights for my account. I can not create a new branch for commits.

[2018-02-09 09:01] lordelph commented on #114
@BigTonni you need to create your own fork first - see the section in the linked article

So, fork this repo, create a branch on your fork, push the branch to this repo.

[2018-02-09 09:14] BigTonni commented on #114
@lordelph thank you! Ready.

[2018-02-09 13:52] jumbojett commented on #114
Linking PR #115

[2018-02-10 12:29] binary-sort opened #116 "Back-Channel Logout"
Is back channel logout supported?

[2018-02-10 14:04] jumbojett commented on #116
@binary-sort I don't believe so. Is this something we should consider?

[2018-02-12 12:47] binary-sort commented on #116
I think you should consider supporting back channel logout.

You can get more information about it here: http://openid.net/specs/openid-connect-backchannel-1_0.html

[2018-02-12 14:36] jumbojett commented on #116
Thanks for the link @binary-sort ! If you'd like to give it a pass and submit a PR. I'd be happy to review it!

[2018-02-15 15:09] JFLarvoire opened #117 "The package 0.3.0 downloaded by default by composer does not work"
I had exactly the same issue as reported in bug #104.
And like for bug #104, this required updating the require instruction, AND downloading the latest dev package from GitHub to fix it.
So my point is that bug #104 should not have been closed:
1) The instructions on https://github.com/jumbojett/OpenID-Connect-PHP are indeed wrong, and it's necessary to do...
`require __DIR__ . '/vendor/autoload.p

[2018-02-15 15:43] jumbojett commented on #117
@JFLarvoire thanks for the report. I just tagged a new release with the latest updates. Let me know if this fixes it!

[2018-02-15 16:36] JFLarvoire commented on #117
This new version works well, thanks for the quick reply!
Just one minor thing: The README.md still contains the wrong instruction `require '/vendor/autoload.php';`.

[2018-02-16 11:55] jumbojett commented on #117
Done 👍 Thanks for raising this issue @JFLarvoire !

[2018-02-16 11:55] #117 closed

[2018-02-23 15:31] citosid opened #118 "Implement different session handler"
This is more of a feature request than a bug.

I'm developing a system that will perform OpenID authentication against an in-house system. However, this system will be in the cloud, using containers and load balancers, which means we cannot use php's sessions because the next request might or might not come to the same server.

Is there any reason why this has not been implemented or could be simp

[2018-02-23 17:33] jumbojett commented on #118
Good question @citosid ! There's a good reason. PHP session handlers can already be extended / customized for these type of use-cases. (http://php.net/manual/en/session.customhandler.php) Since our library focuses on minimalism, we try to avoid _reinventing the wheel._ Does this help?

[2018-02-23 17:37] jumbojett commented on #118
... I'll add this piece of advice as well. Check out the following tutorial on how to setup Redis as a back-end. It should work with distributed containers and our library.
https://www.digitalocean.com/community/tutorials/how-to-set-up-a-redis-server-as-a-session-handler-for-php-on-ubuntu-14-04

[2018-02-23 18:46] citosid commented on #118
Oh perfect! That is awesome. I did not know you could do that kind of thing.

I was thinking on forking this and add that logic... but since it is possible to do it with php itself already, that might be the way to go.

Thank you!

[2018-02-23 18:46] #118 closed

[2018-02-28 21:47] NicolasToussaint commented on #113
Hi @jumbojett ,

After internal discussion, it turns out that for you to accept a licence change, you would be supposed to obtain an agreement from all contributor to the project ... at least for the members who made significant contributions.
There seems to be about 30 contributors so that would mean a little bit of work to ask and obtain permission from them to add a BSD licence.

It would be gr

[2018-03-13 11:47] jedi58 opened #119 "$_SERVER['SERVER_NAME'] vulnerability"
`$_SERVER['SERVER_NAME']` is populated based upon the value of `Host` sent in the request which means the `redirect_uri` in https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L432
 can be modified to go to a different site. An example of this attack would be if a browser extension has been compromised.

[2018-03-13 12:10] jumbojett commented on #119
@jedi58 a security check can be handled outside of the class. Ex:

[code]

It's also important to note this code will not be used if the client specifies a redirect url. Does this address your concern? Would you recommend adding this to the README?

[2018-03-13 12:17] #119 closed

[2018-03-13 13:23] jedi58 commented on #119
That's a good point, it is better handled outside this - maybe a note in the README might be worthwhile to be safe

[2018-03-13 14:14] jberculo opened #120 "Basic authentication header is set regardless of use of basic auth?"
In the requestTokens function, the following code was added two years ago:

``        # Consider Basic authentication if provider config is set this way
        if (in_array('client_secret_basic', $token_endpoint_auth_methods_supported)) {
            $headers = ['Authorization: Basic ' . base64_encode($this->clientID . ':' . $this->clientSecret)];
            unset($token_params['client_secret'])

[2018-04-10 09:25] nk2580 opened #122 "Allow Provider Port"
Provider Port is set based on standard ports, internal networks might set custom ports,
We should allow the provider to specify a specific port for curl requests

[2018-04-11 02:28] nk2580 commented on #122
I’m considering a different approach, one of the reason I was getting frustrated was that debugging requests felt very cumbersome. What are your thoughts on replacing the http layer with guzzle?

[2018-04-11 11:32] jumbojett commented on #122
I'm sorry to hear that.

I like guzzle. In keeping with the minimalist approach - Our project strives for as few dependencies as possible. Would adding debug points via `error_log` in the existing code help?

[2018-04-11 21:26] nk2580 commented on #122
It certainly would.. but I guess it depends on your opinion of minimalism. I guess the biggest thing for me is that the feature of non PSR HTTP requests are somewhat of an anti pattern.

I toyed with the idea of forking your repo, however in the spirit of GitHub I think it would be best to find a way to contribute.

Also testing cURL sucks! So I’ve been basically mocking the whole fetch method out

[2018-04-16 14:20] jumbojett commented on #122
I'm glad you chose this path!

Here's my initial thought. Add a _debug_ option to the current library. Add logic to the `fetchURL` method that will enable verbose output. Doing so would set `curl_setopt($curlhandle, CURLOPT_VERBOSE, true);` In addition to printing the request parameters via `error_log`.

A library that has as few dependencies as possible. It prefers PHP core methods over wrapped a

[2018-04-16 21:52] nk2580 commented on #122
Cool beans, I’ll prepare a PR when I can get some time.

Yes, feel free

[2018-04-17 06:41] bkonetzny opened #123 "Disable JWT verify for development environments"
Disable JWT verification for development environments: #110

[2018-06-08 14:52] torresmat commented on #93
The same thing happened to me yesterday. I solved by doing two things and now it's working... I really think its the second one that fix it:

1. I read somewhere that Symfony saves the session when the action in the controller ends.b This library is making use of the session inside and redirects by setting the "location" header not giving the change to the Symfony Framework to persist the session.

[2018-06-11 13:11] #93 closed

[2018-07-02 11:59] d-sko opened #132 "ADFS problem with example"
Hi,

I've tried to authenticate against our ADFS 4.0 using the `client_example.php`. Authentication worked (it seems), but `$name` was empty, so I added `var_dump($oidc->requestUserInfo());` to see all contents of the userinfo. The result is this:
[code]
What's wrong here? Am I missing something in the configuration on the ADFS side of things?

[2018-07-03 14:56] d-sko commented on #132
Ah ok, got it with the implicit flow.

[2018-07-03 14:56] #132 closed

[2018-07-03 23:04] jumbojett commented on #132
Thanks for the update @d-sko . Glad you were able to figure it out!

[2018-07-04 12:31] d-sko commented on #132
@jumbojett yes, it was quite easy, nice simple library, thanks!

Just if someone tries the same: this is the complete OpenID-Connect  part:
[code]
`$user` will contain the windows username in the form `DOMAIN\username`.

[2018-07-24 18:41] loganto opened #133 "How do I make a typical request to some api endpoint?"
So I've successfully authenticated using typical OIDC flow.
But does this library also supports making typical oauth2 calls using access tokens?

Similar to `->getAuthenticatedRequest()` from thephpleague/oauth2-client?

[2018-08-06 10:11] d-sko opened #135 "ADFS implicit flow - get email?"
Hi,

how can I get the email address of the user with the implicit flow?
I've added the `email` scope and checked it in the ADFS configuration but the response didn't change, still only `upn` and `unique_name`

[code]
`$claims` still contains only
[code]

[2018-08-06 13:48] jumbojett commented on #135
@d-sko I believe you're doing it the correct way. Have you verified your OIDC provider supports this? (Visit https://provider.url/.well-known/openid-configuration) Make sure _email_ is listed under _ claims_supported_ . If it isn't, then you won't be able to retrieve that attribute.

[2018-08-06 13:55] jumbojett commented on #135
@baru Do you have any additional insight? (I know you submitted the ADFS PR a while back.)

[2018-08-06 15:26] baru commented on #135
I can confirm that you are doing it the correct way.
getVerifiedClaims contains **all** claims from the JWT-Token, if the JWT-Token could be verified or **none** if the token could not be verified.
If the response doesn't change when you add email to the scope, that probably means that your provider is not including the email, even though you are requesting it.
Maybe this stackoverflow article app

[2018-08-07 06:01] d-sko commented on #135
Thank you for your comments!
@jumbojett: I've checked the _openid_configuration_ and _email_ is indeed __not__ listed under _claims_supported_.
@baru: thanks for the link, I'll have a look at this!

[2018-08-07 07:25] d-sko commented on #135
I got it! Found this very helpful article: https://blogs.technet.microsoft.com/piameruo/2017/10/22/custom_idtoken/

Short version: I've checked _allatclaims_ in the permitted scopes list in the application configuration in the ADFS management console and added a Issuance Transform rule with all attributes I need and now it's working.

[2018-08-07 07:25] #135 closed

[2018-08-15 20:05] EAnushan commented on #120
You can disable it as follows:

[code]

[2018-09-04 19:49] albertStaalburger opened #136 "OneLogin: The provider authorization_endpoint could not be fetched"
I am trying to get Example 1 working.
I am using OneLogin as Idp and have entered/set up the required Ids as well as keys.
The OneLogin provider url is:[https://openid-connect-eu.onelogin.com/oidc/.well-known/openid-configuration](https://openid-connect-eu.onelogin.com/oidc/.well-known/openid-configuration)

The config returned in the link above does have an `authorization_endpoint`, however whene

[2018-09-05 12:27] jumbojett commented on #136
@albertStaalburger given what you've stated, your provider should be set to `https://openid-connect-eu.onelogin.com/oidc`. Can you confirm this is the case?

[2018-09-05 13:47] albertStaalburger commented on #136
Thank you. Seems like such a trivial question looking at the answer.
This sorted the `provider` issue.

Getting `invalid_client` error now.
Will double check my client id and secret.

[2018-09-05 15:27] albertStaalburger commented on #136
`invalid_client` was caused by not using the correct provider url, had to remove the `-eu`.
Related to getting Example 1 going, the response says that:

Digging through the code I see that I receive the code, but the `requestTokens` function throws an error.
It puts the client secret in the header...looks like the endpoint is expecting it in the body.

[2018-09-07 13:43] albertStaalburger commented on #136
I narrowed the issue down to the `requestTokens` function, specifically the `unset($token_params['client_secret']);`

Not unsetting the `client_secret` allowed my app to authenticate.
I am new to the OIDC arena...
Am I opening myself up to issues here, what is the reason for just unsetting the `client_secret`?

[2018-10-16 08:14] JanOonk commented on #109
Had the same problem on my dev PC (Windows 10 with WAMP), it worked on my production server (Linux/Nginx). This line failed on me in `OpenIDConnectClient.php`:
`( !isset($claims->nbf) || $claims->nbf <= time())`

I "fixed" it by adding 2:
`( !isset($claims->nbf) || $claims->nbf <= time()+2)`

[2018-10-16 21:09] kaboume opened #141 "Assigning the return value of new by reference is deprecated : /usr/local/php5.4/share/pear/Crypt/RSA.php 232"
Hi,
When the OpenIdProvider redirects the user agent on the callback url, i have this PHP error :
`Assigning the return value of new by reference is deprecated|/usr/local/php5.4/share/pear/Crypt/RSA.php|232`
I'm using PHP 5.6.
Do you have any idea to solve the problem ?
Thanks.

[2018-10-16 22:54] jumbojett commented on #141
Hey @kaboume ! Are you getting an ERROR or a NOTICE? Check out this stackoverflow topic for how to silence NOTICES. (https://stackoverflow.com/questions/2867057/how-do-i-turn-off-php-notices)

[2018-10-17 11:05] JanOonk opened #142 "require Crypt/RSA.php line missing?"
I am using the latest version v0.7.
I didn't use composer, just copied and included the library in my project. But I had to add this line before the class_exists lines to get the library up and running:
[code]

I copied the phpseclib subdirectory from the src installation package into my lib folder.
 In my application I then use the openidconnect library as follows:
[code]

Is this fix an omission

[2018-10-17 11:56] jumbojett commented on #142
@JanOonk composer will pull in a the dependancies! You should definitely be using it.

[2018-10-17 11:56] #142 closed

[2018-10-17 11:57] jumbojett commented on #141
Closing for now. Feel free to re-open if needed.

[2018-10-17 11:57] #141 closed

[2018-10-17 11:59] JanOonk commented on #142
That I know but that still doesn't answer my question.

[2018-10-17 12:00] jumbojett commented on #136
@albertStaalburger are you using client_secret_basic?

The code you're referring to unsets it because the client secret gets encoded in a header. Closing for now. Feel free to reopen if needed!

[2018-10-17 12:00] #136 closed

[2018-10-17 12:05] jumbojett commented on #142
Apologies. I'm not sure I fully understand. Composer includes an autoloader that configures path dependencies. Can you rephrase the question?

[2018-10-17 12:11] JanOonk commented on #142
For all people that can not use composer and just like me, in this instance, won't use composer and just follow the procedure I described. The fact that I had to insert `require "Crypt/RSA.php";` is that a bug/omission in the source?

[2018-10-17 20:51] jumbojett commented on #142
In the case you describe, it's an omission. Not a bug.

[2018-10-20 17:00] JanOonk commented on #142
Ok not a bug, it's more like a dependency missing. Consider it documented by this issue :)

[2018-10-25 13:12] kenguest commented on #113
Permission granted for anything I've done that got merged ;-)

[2018-12-17 15:06] lingma1993 commented on #93
@torresmat
Hi, I meet the same problem that after redirection, Undefined index: openid_connect_state.
I try to modify the redirection's request and response. but the problem appeared random sometimes.
Could you please share the modification about the cache control ?
Thank you.

[2018-12-19 19:58] c4l3b commented on #111
https://github.com/jumbojett/OpenID-Connect-PHP/pull/144

[2018-12-19 23:14] #111 closed

[2019-01-10 15:55] Linkaara opened #145 "Unable to verify JWT claims"
Hello
I am trying to use the client_example.php provided for a basic sign-in function, but I am getting a "Unable to verify JWT claims"
This is my code:

[code]

I was also getting a  "AADSTS70002: Error validating credentials" also, which stopped when I changed the special characters on the client secret to ascii characters (= to %3D  for example)

Thanks!

[2019-01-11 13:42] jumbojett commented on #145
@Linkaara have you seen _Example 6_ in the README? It might be relevant since you're authenticating against microsoft. Let us know if this helps.

[2019-01-28 20:40] bobvandevijver opened #147 "Refactor library to function as standalone plugin"
Currently, this library can only be used by including the single source file in the application, directly loading global function which are never required in global scope.

I think this library can benefit from some decent object oriented design, so that it can easily be reused by other libraries such as Symfony library.

Currently, I've adapted this library to fit directly in my library, but are

[2019-01-29 19:51] bobvandevijver commented on #147
My current source is not yet published, but I have just placed one of the source files in this gist: https://gist.github.com/bobvandevijver/8a9e7540f75c898ad02696ce7629002e.

I only use small parts of the library for now, but I hope this gives a general idea.

[2019-02-08 15:10] #57 closed

[2019-03-05 17:28] ashishnarola commented on #93
@jumbojett can you please help us to fix this issue? I think issue is because of session only.
PFB:
https://prnt.sc/mtnlg4

My service provider is "Sparkplatform.com"

Looking forward for your kind help.

Thanks.

[2019-03-05 17:43] torresmat commented on #93
Hi! Never noticed this comment here. I'll try to remember this when I get back home tomorrow. @ashishnarola are you using Symfony or just PHP? The same question goes for @lincentma . Sorry for the late reply!

[2019-03-06 18:35] athanasius-kircher commented on #147
I have forked this library to start a proposal, for a library that should be easier to be integrated into different frameworks. I moved restructured the library itself and used different dependencies to let this library focus on oauth aspects and move typical framework functions to dependencies. It would be a breaking change but adoption would not much steps.
I have not finished it totally, but if

[2019-03-07 16:44] jumbojett commented on #147
@athanasius-kircher wow! This looks really good. I've been wrestling with the decision to refactor for a while. There are so many well-structured libraries out there centric to OpenID Connect. (https://github.com/thephpleague) This project differs (for or for worse) in the fact that it's small, and single file. If we did go with your proposal, what other factors would set us apart from these libra

[2019-03-07 22:31] freephile opened #151 "Accept JSON"
The spec indicates that a JWT or a JSON response type can be made for the userinfo endpoint. At least one real-world ID provider defaults to JWT if no preference is indicated. This library deals with JSON responses. Thus, adding an "Accept header" will indicate that we prefer to handle that type of response.

[2019-03-08 13:29] #151 closed

[2019-03-21 20:45] tali1974 opened #153 "stdClass::$access_token"
When i use
$clientCredentialsToken = $oidc->requestClientCredentialsToken()->access_token;
I get this error message.
Message: Undefined property: stdClass::$access_token

Any idea why ?

[2019-03-21 20:52] tali1974 commented on #153
I am trying to setup with BankID (No). The $oidc->authenticate() is working fine.
it returns state, code in the URL and i can also see openid_connect_nonce and openid_connect_state.

Now, how do use these values? get more data about the user?

[2019-03-22 14:26] jumbojett commented on #153
@tali1974 this means the server isn't returning token. You might using a debugger to see the request responses from the server.

Did you add scopes?

[code]

[2019-03-22 20:51] tali1974 commented on #153
I am also able to get JWE Header by authenticating with the callback url (with state and code)
If I decode the header payload I see a JSON
showing me something like this, but not the user data
{
   "jti":"8efcd8ea-8a58-41b6-bb37-",
   "exp":1553254464,
   "nbf":0,
   "iat":1553164,
   "iss":"https://oidc-current.bankidapis.no/auth/realms/current",
   "aud":"GlobalHomest",
   "sub":"4465439b-a59b-4

[2019-03-29 14:56] AngryShaDoW opened #154 "Add possibility to change enc_type parameter for http_build_query"
The server, that i want to connect, does not accept encoding PHP_QUERY_RFC1738. How can i change $enc_type parameter at http_build_query method to PHP_QUERY_RFC3986

[2019-04-02 12:47] jumbojett commented on #154
@AngryShaDoW good question. You'd need to modify the class. Care to submit a PR?

[2019-04-08 13:20] #154 closed

[2019-04-26 19:40] Linkaara opened #161 "How to logout?"
I have succesfully implemented the login option, now I need a simple "Logout" button on my app. How can I logout the user? I thought it was going to be something like "$oidc->logout();" but I do not see this function.Thanks!

Edit: Nevermind, I just figured out that I just have to send the users to https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=<my website login sc

[2019-04-26 20:18] #161 closed

[2019-05-01 10:01] PWalkow commented on #93
@torresmat Can you please show us how you have fixed this redirection from symfony controller?
as the library just change the location in the header we have the same problem here when trying to connect (Undefined index: openid_connect_state)

[2019-05-01 23:17] torresmat commented on #93
Well, I haven't tried with the newest versions of this library. For what I can see there are some changes on how the library access the PHP session.

Earlier in this post I stated that there might be 2 causes for this, and that I was more inclined to think that the second one was the problem:

1. The fact that symfony saves the session at the end of the controller action and that the OpenIdConnect

[2019-05-23 01:42] consolibyte opened #163 "JWT nonce claim is required, even though the spec says it's optional and some OpenID Connect providers do not provide it"
The implementation here assumes that `nonce` is always present in the claim:
https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L922

[code]

However, some providers _do not return a nonce_ here. For example, Intuit's implementation does not: https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization/openid-connect

According t

[2019-05-23 01:46] consolibyte opened #164 "The client_secret_basic auth method does not unset the client_id parameter, and instead passes client_id as a body param"
Here in the code you can see the client_secret getting unset:
https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L706

[code]

However, the `client_id` still ends up in `$token_params` and so gets passed in the POST body.

Some providers (e.g. Intuit) will return `invalid_client` if you include the `client_id` as a POST body param. You can see Intuit doesn't do

[2019-05-24 10:13] Yivan opened #165 "[Improvements] Abilities to select 256 or 512 bits for jwk if no headers."
Hello,

First thanks a lot for this nice API.

We managed to use it for an OpenID connection, (auth + userinfo). But their was a little problem so we need to patch the library.
It concernes the bits depth here :
https://github.com/jumbojett/OpenID-Connect-PHP/blob/master/src/OpenIDConnectClient.php#L915

In case no alg is returned, it is set arbitrary to 256 bits. For us, it worked if we changed i

[2019-05-28 13:26] jumbojett commented on #165
Hi @Yivan You're welcome! Thanks for the feedback. I'm sure we could add a method to set the default encoding. This might be a bandaid though since the provider _should_ return an alg header. Out of curiosity - What provider are you interfacing with?

[2019-05-28 13:36] Yivan commented on #165
Hello @jumbojett

Thanks for your insight on this issue.

It is a custom implementation of OpenID server of a customer of us. We are developping an application relying on their OpenID server. They call it ID.Not
Here is the frontend: https://connexion.idnot.fr/auth/login

I don't know which technoloy is behind their ID.Not and it is confidential information.

Yes I know it should send back an alg

[2019-05-28 14:22] jumbojett commented on #165
Thanks for the info! Question - if you comment out line `915` does it work? (We probably shouldn't be setting a default bit  if the response doesn't contain it. )

[2019-05-28 14:54] Yivan commented on #165
Commenting it brings an error, here is a screenshot:

![screenshot](https://user-images.githubusercontent.com/9025839/58488199-3c9d4600-8169-11e9-81d8-5e0bd3ffbdd7.png)

[2019-05-29 21:01] jumbojett commented on #165
Thanks @Yivan . Feel free to propose a PR. I'm thinking we can take out the default value and modify the `return` to account for an absent value. Thoughts?

[2019-05-31 09:58] Yivan commented on #165
I will see with our developper if he can provide one, ok.
Thanks !

[2019-06-04 09:13] findus commented on #145
I get the same error trying to implement OIDC at Microsoft Azure AD, but I found the reason:

Using the well-known config of the common endpoint, the valid issuer url contains a placeholder for the tenant id.
So the following matching in verifyJWTClaims always evaluates to false:
`return (($claims->iss == $this->getIssuer() || $claims->iss == $this->getWellKnownIssuer() || $claims->iss == $this->g

[2019-06-05 18:24] jumbojett commented on #145
Fixed in #166

[2019-06-05 18:24] #145 closed

[2019-06-24 09:32] heinebold commented on #147
"There are so many well-structured libraries out there centric to OpenID Connect"
I cannot find anything that actually implements not just OAuth 2 but OpenID Connect, and is at least somewhat maintained. Do you have examples for me? The League seems to have onle OAuth.

[2019-06-26 10:31] Immortalem opened #168 "[Bug] Session values potentially uninitialized"
The library can be used with standalone sessions or configured to use the session of the service it's implemented in.

In the former case where it manages it's own session it is possible to bypass the state verification by omitting the sessionID during the flow.

Steps to reproduce:

1. Start a code flow.
2. Intercept the redirect to the relying party which contains the state, code and potentially

[2019-06-26 10:36] kmzs opened #169 "Non-Compliance with the OpenID Connect Standard"
The library is not fully compliant to the [OpenID Connect standard](https://openid.net/specs/openid-connect-core-1_0.html).
The following aspects differ from the standard:

1. The ID Token **must** contain the two timestamps `iat` and `exp` (see [here](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)). The library does not strictly enforce the presence of the `exp` claim and does not

[2019-07-02 11:09] findus opened #171 "Allow payload in state parameter"
The state parameter exists to allow the client application to keep some state information throughout the asynchronous process.

So for some applications it is neccessary to allow custom payload in the state parameter.
Currently the Client uses the state parameter for the XSRF security check.
I suggest to do the security check by signing the state payload using openssl and a private key and checkin

[2019-07-25 11:58] rabiulislamanik opened #172 "CakePHP CSRF Token Mismatch"

[2019-07-25 11:58] rabiulislamanik opened #173 "CakePHP CSRF Token Mismatch"
I am trying to authenticate using implicit flow.

[code]
I am getting this error -
`CSRF token mismatch.
Cake\Http\Exception\InvalidCsrfTokenException`

By the way, it works fine if i don't use this line `$oidc->addAuthParam(['response_mode' => 'form_post']);`

[2019-07-25 12:05] #172 closed

[2019-07-25 19:40] mvdobrinin opened #174 "HTTP_UPGRADE_INSECURE_REQUESTS should be optional"
I am running into an issue with a test environment where the protocol is upgraded to https when I don't want it to be.

1. The call is made to `http://localhost/app`.
2. Chrome automatically adds the `Upgrade-Insecure-Requests: 1` header.
3. The library fetches the well-known config for the authorization endpoint and sees it is `http://localhost:9100/authorize`.
3. In this library the [getRedirect

[2019-08-02 11:19] DurgadeviS opened #175 "Undefined index openid_connect_state in Lumen 5.6"
Hi,

I'm using lumen 5.6, i have enable the session also by using

'composer require illuminate/session'.

After getting my "REDIRECT URI", i got the error in **Undefined index: openid_connect_state**

Kindly clear my issue, past few days before it's working fine. But nowadays i got the error.

[2019-08-12 20:01] mvdobrinin opened #176 "Issues with authentication on master branch"
I tried to pull in the latest changes from master () and I am now seeing errors when trying to authenticate.

[code]

[2019-08-28 19:24] bobvandevijver commented on #147
I've just released my adaptation of this project, which refactor the classes and makes them available in a very simple Symfony bundle. See https://github.com/Drenso/symfony-oidc! Many thanks to @jumbojett for this repository.

[2019-08-28 19:24] #147 closed

[2019-10-09 13:25] xushangning opened #182 "jwks_uri shouldn't be a requirement for checking signatures"
Since I receive no responses from my previous PR #150, here I describe the issues with `jwks_uri` in the code to see if anybody is interested.

So basically, JWT supports two signing algorithms for signatures: RS256/384/512 and HS256/384/512, among many others. As RS256 (RSA Signature with SHA-256) is asymmetric, every time you verify the signature, you have to fetch the server's public keys from

[2019-11-02 17:31] markembling commented on #174
I've just run into this issue as well, and agree. I know it's trying to help (and, frankly, sticking to the standards which say HTTPS must be used), but it makes development more difficult than it need be.

I see two workarounds right now:

- Call `$_SERVER['HTTP_UPGRADE_INSECURE_REQUESTS'] = 0;` just before making the call to `$oidc->authenticate();`. Optionally you could temporarily hold and the

[2019-11-03 23:25] paulinuk opened #183 "Cannot make use of state due to hard coded value"
Hello

Why is state hard coded to a random string?

This prevents callers being able to pass this through or am I missing somthing?

Paul

[2019-11-27 02:21] connerbw commented on #113
I looked at `fossology/LICENSE`

The Free Software Foundation considers the Apache License, Version 2.0 to be a free software license, compatible with version 3 of the GPL.

Wouldn't it be easier to simply upgrade your license to GPLv3 aka any later version?

[2019-11-27 08:48] NicolasToussaint commented on #113
Hi @connerbw,
Thanks for looking and your suggestion ;
However, I'm afraid that changing Fossology is clearly not an option.

Anyhow, if anyone is interested in an external authentication mechanism in Fossology, we finally took another approach: we rely on Apache modules to handle the authentication and inject headers in the HTTP requests.
The feature is not pubhlished yet, since we still have to

[2019-11-28 17:01] nagman opened #184 "Call to undefined method introspectToken()"
Hi,

I'm trying to validate an `id_token` on my backend (the frontend is already doing the Microsoft connect thing and sends back the `id_token` to the backend).

After looking at your docs, I can assume that `introspectToken` should do the job, am I right?

I mean, I already have the `id_token` and I've read that I should verify it on the backend side along with the secret key.

So I did this:
[c

[2019-12-04 16:47] brunopenso opened #185 "oidc_subject null"
Hi guys,

I'm trying to configure my mediawiki docker image to run with our OpenIdConnect server and I'm getting the error below. Can anyone help?

`[8e83b5ad531a9b2e63de4d90] /index.php?title=Special:UserLogin&returnto=Main+Page Wikimedia\Rdbms\DBQueryError from line 1587 of /var/www/html/includes/libs/rdbms/database/Database.php: A database query error has occurred. Did you forget to run your ap

[2019-12-04 18:09] cicalese commented on #185
You can ask for help with the OpenID Connect MediaWiki extension at https://www.mediawiki.org/wiki/Extension_talk:OpenID_Connect and file a bug report at https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?tags=mediawiki-extensions-openid-connect. I will respond here, but further discussion can be moved to those locations if it turns out the issue is with the MediaWiki extension and not

[2019-12-04 21:28] #185 closed

[2019-12-04 21:28] brunopenso commented on #185
Let me open in the correct place! THanks!

[2019-12-09 17:49] vipsteve opened #188 "requestClientCredentialsToken should allow for additional $post_data values"
Current requestClientCredentialsToken is very strict on what is passed to the IdP

`public function requestClientCredentialsToken() {
        $token_endpoint = $this->getProviderConfigValue("token_endpoint");

        $headers = [];

        $grant_type = "client_credentials";

        $post_data = array(
            'grant_type'    => $grant_type,
            'client_id'     => $this->clientID,

[2019-12-10 13:31] brunopenso opened #189 "requestUserInfo - error on calling userinfo_endpoint"
Hi,

I'm implementing openid authentication with Microsoft AD and I'm facing a problem when in the requestUserInfo method do a http request to userinfo_endpoint to get user attributes such as name and email.

The main reason here is according to the security guys here is that the userinfo_endpoint is deprecated on the newer versions of openid protocol, because the **access_token and id_token** tha

[2019-12-12 12:41] Shachar opened #190 "Authentication with Azure AD fails"
I set up a wiki to connect to Azure Active Directory using OpenId connect. Installation went seemingly fine, but when I try to actually log-in, I get directed to the Azure installation, log in successfully there, and then redirected back to the wiki, where I get "Fatal error authenticating user. "

Turning on logging, I see the following error in the logs:

[code]

Adding a log line before that li

[2020-01-09 08:53] SpenzeR commented on #93
Got this error today:

`[2020-01-07 12:27:44] production.ERROR: Undefined index: openid_connect_state {"exception":"[object] (ErrorException(code: 0): Undefined index: openid_connect_state at /home/ubuntu/test/src/vendor/jumbojett/openid-connect-php/src/OpenIDConnectClient.php:1415)
[stacktrace]
#0 /home/ubuntu/test/src/vendor/jumbojett/openid-connect-php/src/OpenIDConnectClient.php(1415): Illumin

[2020-01-09 19:48] nliwo commented on #163
I'm facing the same problem.

[2020-01-28 16:05] mabuonomo opened #194 "Consider to add a cache to fetch jwks"
Hi, can you consider to add a simple cache to fetch the jwks from url?
Can I help you?

[2020-02-06 07:45] fkramer-sage opened #196 "end_session_endpoint missing on sing out"
I use an Identity Provider that does not have the "end_session_endpoint" parameter in the .well-known/openid-configuration. This leads to an exception when calling signOut().

Is this expected behaviour? Is there a way around this?

[2020-02-10 16:42] Kukulkano commented on #175
I have the same, but not always. How did you solve this?
I get the error while calling

`$name = $oidc->requestUserInfo('name');`

My error is
`Jumbojett\OpenIDConnectClientException: Unable to determine state in /home/volker/git/ppp/vendor/jumbojett/openid-connect-php/src/OpenIDConnectClient.php:278
Stack trace:
#0 /home/volker/git/ppp/lib/p_login.php(98): Jumbojett\OpenIDConnectClient->authentic

[2020-02-13 16:02] rochatjl opened #198 "implicit never used ! (auth code flow hard coded !)"
in  private function requestAuthorization() {
# 596         $response_type = 'code';     => forces authorization code flow even if you specified :
    $this->client->setResponseTypes(['token', 'id_token']);
    $this->client->setAllowImplicitFlow(true);

why not use instead :
   $response_type = $this->responseTypes;
   and if empty use 'code'

[2020-02-13 16:26] rochatjl commented on #198
better ?   line 596
if ($this->allowImplicitFlow)
    $response_type = $this->responseTypes;
else
    $response_type = 'code';

[2020-02-28 16:20] babelouest opened #199 "Invalid at_hash verification"
Hello,

In `verifyJWTclaims`, the `at_hash` verification is buggy, it uses the `access_token` header properties to extract the `alg` value instead of the `id_token`.

Also, inside `verifyJWTclaims`, the values `$hit->idToken` or `$this->accessToken` are not even set.
Therefore the at_hash verification fails if the key size is 384 or 512 bits.

I suggest the following patch that works for me:

[cod

[2020-03-06 00:34] babelouest commented on #199
I'm closing this since I made the PR #200

[2020-03-06 00:34] #199 closed

[2020-03-09 10:37] JuliusPC opened #202 "Tag a new release"
The last released version 0.8.0 is a year old. To deliver fixes and improvements a new release should scheduled.

[2020-03-09 13:29] jumbojett commented on #202
Done!

[2020-03-09 13:29] #202 closed

[2020-03-22 04:59] avionbg opened #205 "Missing jwks breaks the login"
I'm using glewlwyd as openId provider, and under token encryption I have JWT type SHA 512 bit. Problem is that this kind of key doesn't allow jwks keys, or at least thats stated in their documentation - https://babelouest.github.io/glewlwyd/docs/OIDC.html under JWKS explanation (beside that JWKS are optional according the specification)
It would be nice to handle this case since I can't provide ot

[2020-03-31 08:04] saskiaschild opened #206 "Header in requestClientCredentialsToken"
In requestClientCredentialsToken the headers are set to an empty array. Since the documentation of OAuth and OpenId Connect says that HTTP Basic Authentication is needed, there should be the at least the basic header in there.
[code]

Would be nice to have the header there (or at least the possibility to set headers via method parameters).

[2020-03-31 12:49] Levure opened #207 "New cookies security policy based on SameSite attribute breaks OpenIDConnectClient (and most PHP OpenId Connect clients) : Solution + Workaround"
Google Chrome 80 enforces a new cookies security policy using the Samesite cookie attribute.
(source: https://www.chromium.org/updates/same-site).

Due to this change, OpenIDConnectClient does'nt work anymore if `response_mode` is set to form_post.

Chrome 80 block cookies without SameSite attributes (and so, the PHPSESSID cookie) and leads to the "Unable to determine state" error message because

[2020-04-08 10:22] adelraiser opened #209 "Basic authentification base64"
Hello from France,

 # Consider Basic authentication if provider config is set this way
        if (in_array('client_secret_basic', $token_endpoint_auth_methods_supported, true)) {
            $headers = ['Authorization: Basic ' . base64_encode(urlencode($this->clientID) . ':' . urlencode($this->clientSecret))];
            unset($token_params['client_secret']);
        }
I've got an "invalid clie

[2020-04-08 19:42] adelraiser commented on #209
Sorrry I've read updates in changelog.md

URL encode clientId and clientSecret when using basic authentication, according to https://tools.ietf.org/html/rfc6749#section-2.3.1 #192

[2020-04-08 19:42] #209 closed

[2020-04-10 15:05] SimonDatapas commented on #190
Ran into the same issue here for one of our clients.

The problem lies in the claims-mapping feature of Azure where it derives slightly from the OAuth2.0 flow. Stated in the Microsoft documentation: (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc)

AND

A way to support this is to add a way of adding the clientID to the url when fetching the wellKnown, see exampl

[2020-04-10 15:44] Shachar commented on #190
I ended up a different approach.
For my own use, I did not need that mapping. Sadly, MS support sounded guarded when it became apparent we need to deconfigure it, and we ended up deleting and re-defining the app. I made it clear to them that I consider it them violating the standard, and therefor a bug.

Longer term, we're just switching to a different SSO provider.

[2020-04-21 13:32] Vitus-R opened #211 "UserInfoResponse as JWT not handled"
In issue #151 the code was changed so that only JSON-responses are accepted. However at least one provider (https://www.governikus.de/) offers ONLY JWT-responses.

Maybe the function requestUserInfo() could be changed so that the "'Accept: application/json'" is only optional and the Response is optionally decoded with decodeJWT() ?

Specs: https://openid.net/specs/openid-connect-core-1_0.html#User

[2020-04-29 07:07] ghost opened #212 "connecting identify server"
I'm trying to connect to identify server with settings
[code]

Error I'm getting:

Invalid grant type for client

My code

[code]
Why causes the error? Thanks!

[2020-04-29 07:20] halilibrahim95 commented on #29
@svrooij Hello, how did you manage to connect to identify server?

[2020-04-29 07:23] svrooij commented on #29
Not sure. My last comment was 5 years ago, when there was a need to do OpenID Connect on some php site. Since then I no longer work with php (when possible).

I cannot help you any further.

[2020-04-29 07:32] halilibrahim95 commented on #29
@svrooij Oh thanks, sometimes I have to work with php while my expertise on Python .d thanks for quick reply

[2020-04-29 07:34] svrooij commented on #29
From what I can read above it did some checking on the wrong values (or identity server didn't supply the right values).

It is just a matter of turning on logging and finding the right combination. Keep in mind that identity server changed a lot in the past 5 years.

[2020-05-08 12:51] Lucil1979 commented on #153
I have the same issue. Please help

[2020-05-12 07:51] halilibrahim95 commented on #22
@jumbojett Hello, I successfully implement log in and log out using your module. After log-in, I manage the session of the logged-in user, the question is what if user logged out auth server? Should I logged out him? Is it OK to monitor?

[2020-05-14 10:29] aliogul opened #214 "call Graph API for users in AD"
Hello,

I want to implement a search field where users type a name in our organisation and get the list from Azure Directory
I assume I need to call this https://graph.microsoft.com/v1.0/users?$filter=startswith(displayName,'ali')

What is the best way to do this using jumbojett so the user first login then is able to search?

The AD is managed by my organisation, can't really play with.

[2020-06-01 10:58] MaximumRGB opened #216 "Different file contents in repository and in downloaded archive"
OpenIDConnectClient.php file in repository https://github.com/jumbojett/OpenID-Connect-PHP/tree/master/src and the same file in downloaded archive https://github.com/jumbojett/OpenID-Connect-PHP/archive/v0.9.0.zip are different. Why is it so?

[2020-06-01 23:25] sbusch commented on #216
Because 0.9.0 is a release. It has been tagged on March 9th. See <https://github.com/jumbojett/OpenID-Connect-PHP/releases/tag/v0.9.0>

OTOH <https://github.com/jumbojett/OpenID-Connect-PHP/tree/master/src/OpenIDConnectClient.php> is on the `master` branch (see url) where all current development lands and where releases are regularly spun off.

So on master branch, there is the currently developed

[2020-06-02 09:21] MaximumRGB opened #218 "'Expected array, got string' warning"
requestTokens() method has a string option `$token_endpoint_auth_methods_supported`, but several lines lower there is a condition `if (in_array('client_secret_basic', $token_endpoint_auth_methods_supported, true))`, so the second parameter of `in_array` function is expected to be an array, but string given.

[2020-06-02 09:34] #218 closed

[2020-06-02 13:19] #216 closed

[2020-06-09 12:13] MaximumRGB opened #219 "$tokenResponse type declaration bug"
Hello. It seems there's a mistake in $tokenResponse type declaration (string instead of mixed):

[code]
...
`$token_json = $this->requestTokens($code);`
...
`$this->tokenResponse = $token_json;`
...
[code]

[2020-06-09 12:46] MaximumRGB opened #220 "`Expected array, got string` bug"
Hello again. It seems to be a bug:

in requestTokens() function:
`$token_endpoint_auth_methods_supported = $this->getProviderConfigValue('token_endpoint_auth_methods_supported', ['client_secret_basic']);`
...
[code]
though, getProviderConfigValue() function returns string
[code]
so i get the warning `in_array() expects parameter 2 to be array, string given`

[2020-06-15 13:25] sbusch opened #221 "JWT signed by HMAC algorithms"
I tried to test the HMAC implementation #102 with current Keycloak 10.0. But the signature is never correct. I tried fiddling with the client secret (trial & error) but no success.

Is anyone using this library with access and/or id tokens signed via HMAC (HS256, HS384, HS512)?

[2020-06-25 12:40] mgh9 commented on #212
I have a same problem, did you find the solution?

[2020-06-25 12:54] mgh9 commented on #212
I'm trying to use hybrid flow, setting `$oidc->setResponseTypes(array('code','id_token'));` solved my problem

[2020-06-27 11:55] mgh9 commented on #22
Could you please share your source? thanks

[2020-06-29 07:42] #220 closed

[2020-07-07 15:18] #212 closed

[2020-07-10 21:46] bisaeed commented on #93
I used a cookie instead of a session and my problem was solved

`class myOpenId extends Jumbojett\OpenIDConnectClient {

    protected function getSessionKey($key)
    {
        return $_COOKIE[$key];
    }

    protected function setSessionKey($key, $value)
    {
        setcookie($key, $value, time() + 1728000, '/');
    }

    protected function unsetSessionKey($key)
    {
        unset($_COOKI

[2020-08-04 15:41] AKM709 opened #228 "Redirect issue"
Team, I did try with Auth server , however I am not getting 'given name', as I stuck with redirect URI

[2020-08-04 16:04] jumbojett commented on #228
Is your sample code present in `mepage.php` ? (It should be) Also, make sure your redirect url is explicitly registered with your auth provider.

[2020-08-26 22:20] JonErickson opened #229 "Update composer package"
Hello, can you update your package for composer? The current version available, 0.9.0 is missing several of the code breaking PRs recently. Thanks.

[2020-08-27 16:51] jumbojett commented on #229
Thanks for the reminder @JonErickson! Done 👍 Feel free to reopen if there are any issues.

[2020-08-27 16:51] #229 closed

[2020-08-28 20:06] openidauthority opened #230 "invalid_client error when using plus (+) in client secret"
If using a client secret with a plus character (+), and the provider supports basic auth, the secret will be sent via basic auth, and authentication will fail because the + will be decoded to a space.

Per the RFC, both the user id and password must be url encoded before joining them with a colon and base 64 encoding the whole thing:
https://tools.ietf.org/html/rfc6749#section-2.3.1

[2020-08-28 20:18] openidauthority commented on #230
Fixed in current release

[2020-08-28 20:18] #230 closed

[2020-09-07 13:20] q2apro opened #231 "Error : First parameter must either be an object or the name of an existing class"
`if (!property_exists($token_json, 'id_token')) {`

Error should be caught beforehand, I guess.

[2020-09-08 15:42] pendenga commented on #184
When you initialize the client, the first parameter $provider_url should be your 'well known configuration' instead of the authorize endpoint directly. The client will use the well-known configuration to discover the authorize endpoint as well as the introspection endpoint (if it is defined). In your example, your well-known configuration would be:

https://login.microsoftonline.com/sdf5s46df5-sdf

[2020-09-08 15:44] pendenga commented on #183
Is this just an old issue? From what I'm seeing, it resets the state parameter in the session and the request every time a request is made.

[2020-09-08 15:54] nagman commented on #184
@pendenga Thanks for your help. Hope that it will help someone else because I've finally used another solution for my project.

[2020-09-08 15:54] #184 closed

[2020-09-09 10:39] DorelBesliu commented on #175
The same issue is on my side. Please let me know if you have an answer ...

[2020-09-11 13:24] DeepDiver1975 commented on #24
@christiaangoossens Mind sharing which changes are explicit necessary to get this working? THX

[2020-09-15 11:11] Ornias1993 commented on #116
@jumbojett This is basically a must-have, because it makes this package unusable with multiple sites (as it is a huge security risk if users forget to logout in everyone of the sites they have opened)

[2020-09-20 17:25] christiaangoossens commented on #24
@DeepDiver1975 As far as I remember, I just switched out the issuer before the checking part.

[2020-09-22 06:54] piyushgupta95 opened #232 "What authParams can I add?"
Pardon me if this question sounds silly, but what is 'authParams' used for? I would like to study more about it

Also, are there examples or list of optional parameters that I can set through `addAuthParam($var)` function? One that I know of is `'response_mode' => 'form_post'` from the example.

Thanks.

[2020-09-23 12:45] hugo411 opened #233 "Help with authenticate and return"
Hi, i am trying to implement a third party connexion using this package and i am almost done but i can't get the access token.

Here is my code :

[code]
This code trigger the login page from my third party client which is fine,
I want to get the access token from the authenticated user. How can i do this? any code i put after authenticate is ignored.

Thanks

[2020-09-27 22:35] tsvsj opened #234 "Intercept authenticate() or return state before redirect"
Hi,

I'm currently playing around with this great framework. In general everything is working fine, if I configure a single provider statically. However, I would like to have several provider configurations and let the user choose the preferred provider. Therefore I'm saving the provider configuration at a secure space instead of saving vars for the provider configuration statically. Issuing the O

[2020-09-28 01:26] cicalese commented on #234
You can use `getProviderURL()` after `authenticate` returns to get the provider to which the authentication request was sent.

[2020-09-30 12:04] tsvsj commented on #234
Isn't that too late? For now I check the result of `authenticate()` to decide whether the authentication was successful or not. If I would skip that test, how would I check for successful authentication?

[2020-10-01 14:33] tsvsj commented on #234
I've tried that, but as assumed it doesn't work. `authenticate()` triggers the redirect, before the next line of code is executed.

Anymore ideas instead of rewriting the class?

[2020-10-01 15:09] tsvsj commented on #234
I've found a solution. While going through the code, I realized, that the state is stored in `$_SESSION`. So I'm just saving the provider URL in the session as well and can look for the correct provider configuration by URL, if the client returns to provide the `code`.

[2020-10-01 15:09] #234 closed

[2020-10-02 11:59] jumbojett commented on #232
@piyushgupta95 these are used during the auth request. See https://github.com/jumbojett/OpenID-Connect-PHP/blob/9f15504105640b03277d7174b62fbfc0f5e608ab/src/OpenIDConnectClient.php#L624

You can find a list here:
https://openid.net/specs/openid-connect-basic-1_0.html#RequestParameters

Hope this helps!

[2020-10-02 11:59] #232 closed

[2020-10-02 12:01] #24 closed

[2020-10-09 06:38] CayoM commented on #233
I pretty much had the same issue. my "not so cool" solution was to wrap the authentication around a condition and redirect to this exact same page again, so when comming back from oidc, you will not run into the authentication again and your remaining code will be executed.

it looks a bit like this:
[code]

as you can see im using the SESSION to store the UID and wrapped arround it. I hope this h

[2020-11-18 19:20] rodrigoguariento opened #236 "signOut"
When I call signOut method, I'm redirected to an url like this:
http://localhost:8080/auth/realms/myrealm/protocol/openid-connect/logout?id_token_hint=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJYNHE5OGt4ejBzeHp4QUs3cDZ4eUZvYzN4dDJrUU5zcEhWLUxjaUc2LWlRIn0.eyJleHAiOjE2MDU3MjY5NTcsImlhdCI6MTYwNTcyNjY1NywianRpIjoiY2Y1ZjJhNzUtNmJlNC00NGM0LWI2YzktNWI4NmM0NGE3YmFlIiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zd

[2020-11-19 14:06] charlesmass commented on #236
Can you show us how you save the accessToken on login and how you pass it to the signOut method ?

[2020-11-19 18:06] rodrigoguariento commented on #236
The signIn is:
[code]

The signOut is:
[code]

[2020-11-25 10:58] q2apro opened #237 "FAQ: How to handle exceptions of OpenIDConnectClientException?"
I am using OpenID-Connect-PHP to create a single-sign-on with an identity provider that has several thousands users.

The problem is that sometimes the communication does not work and we receive error messages written to our error log:

[code]

How should we handle those? Or even just ignore thos.e.. Our goal is to have the error log free from such errors.

[2020-12-02 18:29] Ddog800 commented on #118
I know this is an old issue, but it came up in my search for a similar solution a few days ago and I wasn't able to find much else around how to do this. I thought it might be useful for future devs to post what I ended up doing.

In my case, we had built a custom login provider for Laravel so that we can easily tie our web applications to our OIDC infrastructure, and we used this lovely Jumbojett

[2020-12-05 13:20] JuliusPC commented on #196
If your identity provider doesn’t include the parameter in its openid-configuration, it likely doesn’t support this feature. In my opinion, throwing an exception if this happens is the right way to handle this.

You may have following options:

1. Catch the exception and handle the unsuccessful logout in your code.
2. If your provider simply doesn’t publish its `end_session_endpoint` parameter, bu

[2020-12-05 13:39] JuliusPC commented on #214
You first need to obtain authorization from the user (this can be done by this library) via OAuth 2.0 and OpenID Connect:

[code]

Notice that you need to consult the API’s docs about which OAuth scopes you need and how long the access token ist valid. In case you need a new one, you may use refresh token or call another time `authenticate()`.

[2020-12-05 14:46] JuliusPC commented on #237
It seems that your identity provider is unreliable. Improving its availability is the first and best option.

Second, handle the exception gracefully in respect to its context. In your example it occurs at calling the userinfo endpoint (`requestUserInfo`). This means, that you already obtained an access and an id token. The id token is enough to authenticate the user. If you don’t need additional

[2020-12-05 15:01] JuliusPC commented on #236
You need to supply the id token to the signOut method, not the access token. The comment in the method is very confusing, I opened a PR which includes [a commit to fix this](https://github.com/jumbojett/OpenID-Connect-PHP/pull/238/commits/b4eacdb384bc39fedf04c4dd16faedf3ba1668f3). Hopefully @jumbojett finds time to review, merge it and release a new version to packagist.

Another thing: Your signI

[2020-12-05 17:15] JuliusPC commented on #171
I would implement it by allowing to add a custom string to the already generated state and a way retrieving the value afterwards (possible, since we know the length of the generated random string). This is simple and requires no key management.

@jumbojett Would you merge a PR implementing this?

[2020-12-16 09:36] abulhol commented on #164
This is already fixed, @jumbojett could close this issue I guess?

[2020-12-16 09:38] abulhol commented on #120
This "auto discovery" of the authentication method (Basic vs. POST) is likely not to work properly, I also got stuck on it using OneLogin. Maybe it would be better to remove it altogether, and add a class property `authorizationMethod` for it and a public setter method. Default should be POST I think.

[2020-12-18 08:35] abulhol opened #243 "getAccessTokenPayload fails for specific OP"
E.g. for [Auth0](https://auth0.com/), the access token only consists of one string without dots, e.g. `[access_token] => SSh4skEA2DMPimIBbe0E2YRkGq4r_DCj`, so

    public function getAccessTokenPayload() {
        return $this->decodeJWT($this->accessToken, 1);
    }

throws an `ErrorException: Undefined offset: 1`.

[2020-12-22 09:53] abulhol commented on #171
I also have a use case that requires appending a string to the `state`.
I want to allow authorization through various endpoints, like here: https://stackoverflow.com/questions/54759982/same-redirect-uri-for-multiple-providers-in-oidc
So I would like to add the name of the provider to the `state`, in order to then match the request in the callback.

Currently, all the functions related to this are

[2020-12-22 10:00] abulhol commented on #171
On the other hand, it seems like it is better to use a different solution to solve my use case.
Anyway, as this issue is quite old, you should maybe close it? @jumbojett

[2020-12-22 14:09] JuliusPC commented on #243
Since the OIDC / OAuth 2 spec doesn’t specify a specific access token format, there are two types of access token:

1. opaque or reference token
2. parseable or self-contained token, commonly using the JWT format

Your access token seems to be a reference token, so this library can’t parse it.

See also <https://auth0.com/docs/tokens/access-tokens>

[2020-12-22 23:00] JuliusPC commented on #171
I agree. Using the state for this may make your application susceptible to Mix-Up-Attacks: <https://danielfett.de/2020/05/04/mix-up-revisited/>

As the linked article suggests, you should use different (per OpenID Provider) specific `redirect_uri`s.

[2020-12-23 08:55] abulhol commented on #243
@JuliusPC yes I understand that, but the reason I have started using the JumboJett library is that it can be used as a generic client for any OIDC endpoint.
So it would be better if the access token format would be handled more generically as well.

[2020-12-23 12:15] JuliusPC commented on #243
This is an understandable desire. Since OIDC doesn’t mandate specific formats (it does with the id token), no OIDC library will be able to provide this feature with any OIDC compatible provider.

Why do you need to parse the access token?

Since there is no standard for token formats, this is not possible. You need to catch the exception (which should be more specific) and handle the difference by

[2020-12-28 11:01] Yanow0 opened #244 "Unauthorized to retrieve user data"
Hello,

I am new to OpenID, I try to authenticate to my OpenID server and it works but I cannot retrieve user data. Here's the error :

[code]

And here's my code :

[code]

Any ideas on how I could get this to work ?

Thanks

[2020-12-30 22:53] JuliusPC commented on #244
It seems like your access token is invalid or missing. Print the return value of the method `getAccessToken()` to debug this.

Why do you use the implicit flow instead of the code flow?

[2021-01-11 10:08] Hesesses commented on #182
I'm having the same problem, any ideas how to fix this?

[2021-01-11 10:43] telemmaite commented on #182
This library is made to conform to OpenID connect standard, not just plain exchange/verification of jwt tokens.
jwks_uri is REQUIRED in the OpenID Provider Metadata https://openid.net/specs/openid-connect-discovery-1_0.html.

[2021-01-12 02:17] xushangning commented on #182
The two claims are both correct, but they don't lead to your conclusion, because the OIDC's official website states that Discovery itself is optional [[1]][discovery-optional]. `jwks_uri` is only required for OIDC Discovery.

As always, my reading of the standard may be wrong, so feel free to raise objections.

[discovery-optional]: https://openid.net/connect/

[2021-01-12 02:23] xushangning commented on #182
You can see how I modified an older version of this library in PR #150. I have a fork at xushangning/OpenID-Connect-PHP with the PR applied, but it was also an old version and not maintained.

[2021-01-12 15:17] SvenRtbg commented on #221
You cannot validate an HMAC signature without knowing the secret key. Keycloak intentionally does not expose that key to the outside, and will only use the signature for validation purposes once the token comes back to keycloak.

[2021-01-14 09:31] q2apro commented on #237
Thanks for your helpful reply.

However, I have no access to the identity provider, thus cannot improve its availability.

I need to request the userinfo by `requestUserInfo` because the identity provider has not enabled UUIDs (I do not retrieve them), instead, they use unique usernames. So each time I need to get the username to check against our database. 😔

That's what our CMS is doing. And sin

[2021-01-14 14:35] q2apro commented on #237
Since my script and `OpenIDConnectClient.php` use `curl_exec` I have researched a bit.

It can be that `curl_exec` is causing the freeze as it uses `keep alive`. Just a guess. More information here: https://stackoverflow.com/q/972925/1066234

[2021-01-15 17:57] q2apro commented on #237
FYI, I think I fixed the deadlock by adding:

[code]

before the line:

[code]

[2021-01-22 16:30] Sebi2020 opened #246 "Security: Requests to token endpoints follow redirections"
Currently a request to the token endpoint allows redirects:
https://github.com/jumbojett/OpenID-Connect-PHP/blob/4f95102af87f86c43e8191ec6e90d9f35ed1ce5f/src/OpenIDConnectClient.php#L1171

I don't think it's a good idea for security reasons (you could be redirected to an arbitary page, if the configured ca certificate allows it, which could enable an attacker to get your authorization code) and it

[2021-01-22 19:58] slauensc opened #247 "Help with Finding Whether User Is Authenticated"
We are trying to use OpenID-Connect-PHP for SSO with Oracle IDCS as the Authorization Server.  There are three separate websites that will be doing SSO with IDCS.

This is all fairly new to me, and I'm having a hard time understanding if or how I can use this library to check for whether a user is already authenticated on the Authorization Server.

I have the OpenID-Connect-PHP library installed a

[2021-01-24 00:02] Sebi2020 commented on #247
If you can check, that an user is already authenticated to IDCS (how do you do that?!) what is the issue with just redirecting through the authenticate() call? Because the user is already authenticated to IDCS (e.g. have a session with the authorization server), IDCS would redirect the user back to your application without showing a login prompt.

And that's good, because it's the whole idea behin

[2021-01-24 02:59] slauensc commented on #247
Thank you for providing those links.  They look promising.  We'll review them and try to make use of them to accomplish what we need.

[2021-01-27 07:53] tychokamphuis-accommodatiehuur opened #248 "Url encoding of client_id and client_secret in fetching access token"
We have been provided with a client_secret which contain '=' signs, therefore giving "%3D%3D" at the end when url encoded.
Our integration partner uses the original client_secret with = instead of %3D, therefore having an other basic authentication hash then we send to their side.

Is there a possibility for making the url_encode optional?

https://github.com/jumbojett/OpenID-Connect-PHP/blob/4f95

[2021-01-27 17:42] slauensc opened #249 "Problem with addAuthParam usage"
I'm trying to add an AuthParam value of "prompt=none".

I'm using the following syntax:

$oidc->addAuthParam('prompt=none');

However, the URL generated (auth_endpoint) has some incorrect syntax as shown below.  Note the "0=prompt%3Dnone" value after "authorize?".  My understanding is that it should be authorize?prompt=none&response_type=code........

https://idcs-1234567.identity.oraclecloud.com:

[2021-01-27 20:56] slauensc commented on #249
To answer my own question:
I failed to see in the source code that an array needs to be passed in as the parameter to addAuthParam.

So, doing something like this fixed my problem:

$addtlauth = array("prompt"=>"none");
$oidc->addAuthParam($addtlauth);

After this change, the URL now contains:
.../oauth2/v1/authorize?prompt=none&response_type=code...

[2021-01-27 20:56] #249 closed

[2021-01-28 13:51] slauensc commented on #247
Using the "none" option for the "prompt" request parameter seems to give us what we need.

$addtlauth = array("prompt"=>"none");
$oidc->addAuthParam($addtlauth);
$oidc->authenticate();

When the authenticate() function is called, and the user is not yet authenticated, our IDCS Authorization Server returns a "login_required" error, which, per the OIDC spec, is what is expected.

PHP Fatal error:  U

[2021-01-28 13:51] #247 closed

[2021-01-28 14:38] Sebi2020 opened #250 "Feature Request: Add different Excception Types for different errors"
Currently it's really difficult to handle different OpenID errors beccause the Library use only one exception class. Additionally it does not use exception codes thus requireing the developer to do string matching to actually figure out which error caused the exception.

Please use introduce exception codes or different exception classes for different exceptions.

[2021-02-19 08:21] drupol commented on #194
If we could inject our own `HttpClient` (https://www.php-fig.org/psr/psr-18/), we could do that without altering this library.

[2021-03-10 02:13] shaundaws commented on #228
In case anyone comes across this like I did, what worked for me was doubling up the slashes.

e.g.: $oidc->setRedirectUrl('https:////hl1.xxxxxx//mepage.php');

And of course, making sure that the redirect URL exactly matches the one registered.

[2021-03-12 14:03] mTLamouchi opened #252 "can't redirect to login page"
I am using OpenID connect as a plugin in a WordPress website with identity server 4 as my identity provider, and I can't get my website to redirect to the login page when calling authenticate function, here is my code
[code]

[2021-03-17 09:16] Levivb opened #253 "Planned upgrading/supporting phpseclib/phpseclib v3?"
I'm currently orienting on a OpenID-Connect package. Do you plan on supporting https://packagist.org/packages/phpseclib/phpseclib ^3.0 on any short term?

It's not really a deal breaker, but I'de rather use a healthy, well tested and maintained package ;)

[2021-03-18 13:21] michug opened #254 "userinfo reuqest only returns the "sub" property"
Every userinfo request I send gets returns just {"sub":"HteJtBvHG..."} . I have debuged an see that I get a proper code, then used it to get a proper access_token and finally I try to fetch user information.

[code]

[2021-03-19 13:12] michug commented on #254
Maybe this is an issue with the id broker "https://broker.netid.de"
What was happening is that after sending the authorize request with scopes openid + profile, I was redirected to another url that only had the openid  scope.

In their sso documentation they stated that they wanted a "claims" parameter in the autorize request:
https://developerzone.netid.dev/sso/#authorize

For this purpose I ende

[2021-03-19 13:18] #254 closed

[2021-03-22 19:01] michug opened #255 "Undefined index: openid_connect_state"
I have a backend project (Laravel php)
And a frontend project (Vue js)

I created an authenticate function in a controller:
[code]
The frontend sends a request to the backend that is handled by the authenticate function specified above.
The backend answers with a redirect to the authorize endpoint, the front end catches it and redirects to the url ( by setting the window.location)
The user logs in

[2021-03-22 19:12] michug commented on #175
I have the same issue but before before finishing the authenticate workflow.

I have a backend in Laravel 5.6 and a vue-cli frontend

When I hit the laravel endpoint directly (by inputing the url in the browser) everything works fine.

But when the enpoint is triggered by an axios request, after the user logs In I get the error. Before it can request an access_token

[2021-04-14 13:59] idittmar opened #256 "Fatal error on php5.4 with function-calls in empty-call"
Hi!

I got the following fatal error on our servers running on php 5.4.45:

Php crashing on that line by the following statement:
`if (!empty($this->getCodeChallengeMethod()) ...`

As [this solution suggests](https://stackoverflow.com/a/4328049), putting the result of inner getCodeChallengeMethod-call before empty-call into an extra variable might be a quickfix for that problem.

Same error should

[2021-04-17 10:39] IkhlasAlaydi opened #257 "Unable to verify JWT claims"
hello everyone,

I faced the same issue now , I tried the suggested solutions and didn't work, I tried the same on different application on a different server and it worked properly , I compared the claims and token format they are the same , any ideas ?

I am working with codeigniter i have just added the below lines to the controller

public function index() {
		if (isset($_SESSION['user']['sub'

[2021-04-20 07:08] rohsyl commented on #253
interested too

[2021-04-20 22:26] JuliusPC commented on #174
I [forked this library](https://github.com/JuliusPC/OpenID-Connect-PHP) and added a method `setHttpUpgradeInsecureRequests(false)` to achieve this behavior. I will add some other improvements in the future.

[2021-04-20 22:31] JuliusPC commented on #255
Pull Request #251 would fix this. Because I don’t want to wait until jumbojett reacts, I [forked this library](https://github.com/JuliusPC/OpenID-Connect-PHP) and added this functionality. I will add some other improvements in the future.

[2021-04-22 10:38] dlecan commented on #147
Would it be possible to merge these 2 projects?
This one support PKCE (and not the other), but the other is better organized and prepared for Symfony (and not this one)

Thank you

[2021-04-22 10:44] bobvandevijver commented on #147
I would actually love to be able to consume this library directly via a composer dependency in the symfony-oidc bundle. With the go-ahead of @jumbojett I could refactor this library into separate classes as I did in the bundle, so that can be released as a v1 maybe?

[2021-05-02 10:35] JuliusPC commented on #163
These providers are simply not OIDC compliant, as already cited above:

If this library always sends the nonce, it is required to expect it in the response.

[2021-05-06 15:39] huchim commented on #257
Hi @IkhlasAlaydi

You must check if clientId is provided using [`setClientID('ClientIDHere')`](https://github.com/jumbojett/OpenID-Connect-PHP/blob/4f95102af87f86c43e8191ec6e90d9f35ed1ce5f/src/OpenIDConnectClient.php#L1358) or in constructor [`OpenIDConnectClient('https://...', 'ClientIDHere')`](https://github.com/jumbojett/OpenID-Connect-PHP/blob/4f95102af87f86c43e8191ec6e90d9f35ed1ce5f/src/OpenI

[2021-05-06 16:12] huchim commented on #250
* Require the CURL and JSON PHP extensions to be installed:
  * `OpenIDConnect needs the CURL PHP extension.`
  * `OpenIDConnect needs the JSON PHP extension.`
* Do a preemptive check to see if the provider has thrown an error from a previous redirect: `Error: xxxxx Description: lorem ipsum`
* Throw an error if the server returns one:
  * `$token_json->error_description)`
  * `'Got response: ' . $

[2021-05-07 15:16] huchim commented on #250
I'm coming from [Code Triage](https://www.codetriage.com/) and I'm not the repo owner, but I can creates a new PR and ask to owner if he is agree with change.

cc: @jumbojett

[2021-05-12 14:49] zdenekzahor opened #261 "Prevent notice "Only variables can be passed by reference""
Remove shut-up operator and prevent notice "Only variables can be passed by reference" on [line 106](https://github.com/jumbojett/OpenID-Connect-PHP/blob/v0.9.2/src/OpenIDConnectClient.php#L606).

[2021-05-15 20:39] Bilge opened #263 "Stateless support"
This library hides the fact that session support is required. More importantly, session support should not be required and it should be possible to operate in a stateless mode.

[2021-05-15 20:40] Bilge opened #264 "Extract signature verification"
This library makes a ton of assumptions. So many, in fact, that I'd rather write the majority of it myself, except for the signature verification. Can the signature verification portion be isolated so it can be used independently?

[2021-05-15 20:50] Bilge opened #265 "composer.json specifies the paragonie/random_compat dependency twice"
In the current release, and on `master`, `composer.json` specifies the dependency on `paragonie/random_compat` twice, with two different version constraints.

https://github.com/jumbojett/OpenID-Connect-PHP/blob/4f95102af87f86c43e8191ec6e90d9f35ed1ce5f/composer.json#L8-L11

I believe this is invalid.

[2021-05-15 21:47] #264 closed

[2021-05-16 19:01] JuliusPC commented on #265
See PR #239.

[2021-05-16 19:03] JuliusPC commented on #263
How would you implement this?

[2021-05-16 19:08] Bilge commented on #263
One-way hashes.

[2021-05-16 19:26] JuliusPC commented on #263
Can you provide some pseudo code for the flow?

[2021-05-16 19:28] Bilge commented on #263
No, I declined to use the library in the end.

[2021-05-16 19:45] JuliusPC commented on #263
Aha.

[2021-05-19 16:08] pkowalezyk opened #266 "Unable to dermine state error"
Hi,

I'm using a front website which connect to an Ilias platform via OpenId Connect.

However, I have an issue while doing the SSO connection. I get the following error : "Unable to determine state".
When I retry just after I don't have any error but after waiting a few minutes I have the error again.

Did someone have the same issue or have an explanation why I get this error?

Thank you.

[2021-05-20 10:01] safetimenow commented on #266
Yes I have the same issue since quite some time...

My code:
`$openIdConnection = new OpenIDConnectClient('XXX',
    'XXXX',
    'XXXX');

#$openIdConnection->setAllowImplicitFlow(true);
$openIdConnection->setResponseTypes(json_decode(getenv('OPENID_RESPONSE_TYPES')));
$openIdConnection->setRedirectURL('http://localhost:8888');
$openIdConnection->addScope('openid offline_access profile intranet');

[2021-05-20 16:08] DeepDiver1975 commented on #266
this means the session is not holding necessary/expected information.
this can happen with php7.4 due to the was owncloud is (by default) setting the same site cookie restrictions on the session cookie.

this same site cookies can be changed in config.php https://github.com/owncloud/core/blob/fa5d9130df999aa6ff8a11fc84e8d998fa42e5b8/config/config.sample.php#L265

please note that cookies need to b

[2021-05-20 16:12] DeepDiver1975 commented on #266
this means the session is not holding necessary/expected information.

this can happen with php7.4 depending on the same site cookie restrictions on the session cookie.

At owncloud we advise to use None as same site cookie - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite#values
https://github.com/owncloud/core/blob/fa5d9130df999aa6ff8a11fc84e8d998fa42e5b8/config/con

[2021-05-20 16:13] DeepDiver1975 commented on #266
if you refresh the session cookie is transmitted by the browser to the server because it is a same site request.
on the first call which is the redirect from the idp this is not the case.

[2021-05-21 06:36] safetimenow commented on #266
So my default ini setting for samesite cookie was:
`session.cookie_samesite= ` empty... I tried all 3 possibilities ("None", "Strict", "Lax") and for all 3 I always get "Unable to determine State". Even after trying to refresh within a few seconds... So with the any variable set, it's not working at all anymore

[2021-06-12 14:44] d-javu commented on #174
I think the correct fix is to revert the commit that added this feature in the first place. (c3ba743)

The header should be handled by the server that accepts the HTTP request, and it should respond with an appropriate Location header if a secure channel is available, and configured to honor the header.

The Upgrade-Insecure-Requests HTTP header is not about upgrading insecure links inside an appl

[2021-06-14 13:04] abulhol opened #270 "Project still maintained?"
Is this project still maintained?

[2021-06-22 12:49] Kukulkano commented on #175
Any news on this? With 35.000 logins I have about 1060 log entries with this Notice. So it happens around every 35th login.

I have no clue about any possible reason and I'm not deep into OpenID :-(

Maybe I enhance function **getSessionKey()** in **OpenIDConnectClient.php** like this?

[code]

This would prevent these notifiers, but I don't like this. It is simply preventing the PHP Notice. Maybe

[2021-06-23 12:35] IljaN commented on #266
Try `SameSite=None; Secure`

[2021-06-23 13:55] #244 closed

[2021-11-18 07:14] DeepDiver1975 commented on #265
Fied

[2021-11-18 07:14] #265 closed

[2021-11-18 07:17] DeepDiver1975 commented on #214
Question has been answered. Support of msgraph in this library is out of scope from my pov

[2021-11-18 07:17] #214 closed

[2021-11-20 16:52] #174 closed

[2021-11-20 17:00] #256 closed

[2021-11-20 17:16] #261 closed

[2021-11-20 17:19] azmeuk commented on #255
#251 is merged

[2021-11-20 17:19] #255 closed

[2021-11-21 17:22] azmeuk commented on #206
Fixed by #271

[2021-11-21 17:22] #206 closed

[2021-11-21 17:30] azmeuk commented on #231
Please indicate in more details how you encounter this error.

[2021-11-21 17:36] azmeuk commented on #114
Closed by #271

[2021-11-21 17:36] #114 closed

[2021-11-21 17:36] #77 closed

[2021-12-13 10:59] QB-Git opened #281 "Configurable URI Well-known"
Hi,

I am using an openid project with a well-known URI not of the form https://URL/.well-known/openid-configuration

I saw in the source code that "/.well-known/openid-configuration" was written in raw. Is there a way to override this parameter? Would this require a pull request?

For now an alternative solution is to declare all my endpoints, but it's quite heavy.

I was thinking of proposing so

[2021-12-13 11:22] DeepDiver1975 commented on #281
How does the URI look like in your case? THX

[2021-12-13 11:36] QB-Git commented on #281
My URI looks like this : https://URL/metadata/oidc-profile-full
I do not have the hand in the form of this URI.

[2021-12-13 12:32] DeepDiver1975 commented on #281
But this URL does not follow the specification of openid service discovery.
I think it would be best to change your IDP to follow the specs.

[2021-12-13 12:44] QB-Git commented on #281
I understand, but if I have to keep this URI, is there any other solution?

[2021-12-13 14:11] DeepDiver1975 commented on #281
Depending on the tech stack which you use to implement your idp you can define http rewrite rules.

[2021-12-13 16:23] QB-Git commented on #281
Thanks for your answer, I will try that !

[2021-12-13 16:37] #281 closed

[2022-01-06 16:24] erkiha commented on #257
I had the issue with JWT claims verifying.
In function verifyJWTclaims:
$expected_at_hash = $this->urlEncode(substr(hash('sha'.$bit, $accessToken, true), 0, $len));

and in this $this->urlEncode:

    protected function urlEncode($str) {
        $enc = base64_encode($str);
        $enc = rtrim($enc, '=');
     //   $enc = strtr($enc, '+/', '-_');
        return $enc;
    }

In this chars + and / a

[2022-01-07 11:00] erkiha commented on #248
I second that. The same urlencode function messed up JWT claim verification in my case.

[2022-01-13 23:13] #253 closed

[2022-01-19 18:09] Karibusan opened #284 "Adding resource parameter in requestClientCredentialsToken method ?"
When trying to get a token from Microsoft Business Central, the parameter 'resource' is mandatory, but it doesn't seem to be possible to pass this parameter during the initial request.

A quick fix on my local setup confirmed the issue and the way to fix it:
Method requestClientCredentialsToken() (line 696), OpenIDClient.php file.
If I uncomment the line related to resource ('resource'      => 'ht

[2022-01-21 12:27] usrjense opened #285 "http_build_query(): Passing null to parameter of type string is deprecated | PHP 8.1"
Running with PHP 8.1 will raise errors

`Deprecated: http_build_query(): Passing null to parameter #2 ($numeric_prefix) of type string is deprecated in /var/www/html/vendor/jumbojett/openid-connect-php/src/OpenIDConnectClient.php on line 685`

Fix this as mentioned here https://github.com/getkirby/kirby/issues/3975 for all occurences at `OpenIDConnectClient.php`

After that all worked again as exp

[2022-01-23 20:27] SAH62 opened #286 "Google OpenID Connect Authentication API and Refresh Tokens"
I'm trying to get a refresh token using the Google OpenID Connect Authentication API. It's not returned by default as part of an authentication request. As noted here:

https://developers.google.com/identity/protocols/oauth2/openid-connect#refresh-tokens

"To request a refresh token, add set the **access_type** parameter to **offline** in your authentication request."

OK, no problem! My code:

[2022-01-23 22:05] SAH62 opened #287 "Support for ES256 Signature Algorithm?"
Yahoo signs their JWTs with the ES256 algorithm. It's not recognized in the verifyJWTsignature() function. Are there any plans to add support for it, or is there a way to set something in the code that tells Yahoo to use RS256 instead? Yahoo claims to support both algorithms:

"id_token_signing_alg_values_supported": [
"ES256",
"RS256"
],

[2022-01-25 08:39] xundeenergie commented on #153
same here with Nextcloud 23

[2022-01-27 18:39] ururk opened #288 "Suggestion: support CURLOPT_CAPATH"
The current code lets you set `CURLOPT_CAINFO`:

https://github.com/jumbojett/OpenID-Connect-PHP/blob/05c3036964db76c9780fe3110c97fd17fd98191f/src/OpenIDConnectClient.php#L1229-L1231

It would be nice if we could set `CURLOPT_CAPATH` as well. As part of this the naming convention could be cleaned up a little to align with CURL:

`private $certPath` -> `private $caInfo`
`public function setCertPath

[2022-01-27 18:47] ururk commented on #288
Although I have it working, this option may not After reviewing the documentation once more, not sure this is a good idea:

https://curl.se/libcurl/c/CURLOPT_CAPATH.html

`The CURLOPT_CAPATH function apparently does not work in Windows due to some limitation in openssl.`

[2022-01-27 18:47] #288 closed

[2022-02-15 09:07] q2apro opened #289 "How to set the userinfo endpoint manually?"
We haven an external identity provider that provides us with an endpoint to get the authentication. However, the URL to receive the userinfo is not set.

The URL is known to us, but now we need to set it manually in the script.

With `function requestUserInfo()` there is:

     $user_info_endpoint = $this->getProviderConfigValue('userinfo_endpoint');

And this function:

[code]

https://github.com

[2022-02-22 15:42] stellarbear commented on #173
Sorry for being more than 2 years late.
When you are using POST (form_post mode implies this), you are expected to have a CSRF token validation.

So there are 2 ways to solve this problem:
1. Move your route from web.php to api.php (where verification won't happen)
2. Exclude your particular route from verification at VerifyCsrfToken class, for example:

`
class VerifyCsrfToken extends Middleware

[2022-02-22 16:57] DeepDiver1975 commented on #173
in any case nothing which is to be fixed by this library -> close

[2022-02-22 16:57] #173 closed

[2022-02-28 05:46] q2apro commented on #289
Changes in library seem to be necessary: https://stackoverflow.com/questions/71157491/how-to-set-the-userinfo-endpoint-manually-in-openid-connect-php

[2022-02-28 05:46] #289 closed

[2022-03-08 23:17] #263 closed

[2022-03-08 23:17] #266 closed

[2022-03-08 23:17] #285 closed

[2022-03-27 18:26] dunglas commented on #287
I monkey patched the code to support ES256 by delegating JWT validation to `firebase/php-jwt`:

[code]

For this to work, you need the experimental branch of PHP JWT adding support for ES256 to JWK (https://github.com/firebase/php-jwt/pull/399): `composer require firebase/php-jwt:dev-add-ec-jwk-support`.

@DeepDiver1975, if you're interested in this approach (delegating the validation to a third-p

[2022-03-28 18:26] goraxan opened #294 "Make the User-Agent header configurable"
I'm trying to call a Keycloak server that returns a 403 Forbidden if the `User-Agent` header is not set.
Unfortunately I can't change the server configuration, so that it accepts requests without the `User-Agent` header.

Could you allow setting the `User-agent` globally so that every request has it?``

[2022-03-28 18:58] DeepDiver1975 commented on #294
Sounds reasonable - feel free to submit a pull request - thx

[2022-03-29 07:28] goraxan commented on #294
Ok done https://github.com/jumbojett/OpenID-Connect-PHP/pull/296

[2022-04-03 00:23] kudamhazo opened #298 "Unable to verify JWT claims"
There is a bit of an issue with the validation of datetimes (exp, iat, nbf, etc) claims. The library is checking if they are integers which is not correct. It should check if they are numeric (maybe `is_numeric(...)`method) instead because the RFC [ref](https://github.com/lcobucci/jwt/issues/229#issuecomment-381999943) for JWT does not restrict those claims to integers. I am experiencing some chal

[2022-04-07 20:48] kudamhazo commented on #298
I can take a stab at PR if you think this is worth fixing 🙂

[2022-04-13 21:57] bshaffer commented on #287
@dunglas Does this mean you've been able to verify my experimental code in a real-world situation decoding EC JWKs? And if so, can you leave a review on my PR with this information? It would speed along getting this feature merged and released. Thank you!

[2022-05-02 07:58] MyroslavDobra opened #300 "Magento 2.4.4 is not compatible with latest release 0.9.5"
jumbojett/openid-connect-php v0.9.5 not compatible with latest Magento 2.4.4. Master branch is compatible but not latest release brunch because of this requirement
[code]

composer update says
[code]

[2022-05-02 14:30] DeepDiver1975 commented on #300
once we do a new release this will be fixed

[2022-05-08 13:29] azmeuk commented on #300
I just released v0.9.6. @MyroslavDobra does it solve your issue?

[2022-05-27 10:02] q2apro opened #301 "How to get multiple UserInfos using requestUserInfo($attribute)?"
Currently I am fetching the data like:

[code]

However, each creates a separate request to the server.

How can I ask for several userinfos?

Something like:

      $userdata = $oidc->requestUserInfo('uuid', 'realuser', 'gevenname', 'email'),  // ?

Here someone was creating a commit with an array: https://github.com/jumbojett/OpenID-Connect-PHP/pull/52/commits/452a85bbf9e02265b9928c36b7679156356

[2022-05-27 10:27] DeepDiver1975 commented on #301
call the method with null and you get the array with all propy

[2022-05-27 10:27] #301 closed

[2022-05-27 10:57] q2apro commented on #301
`$userdata = $oidc->requestUserInfo(null);` works 👍

Thank you.

[2022-06-06 12:15] davidbernard04 opened #303 "Fatal error on PHP 5.4 - Can't use method return value in write context"
Following error occur in requestTokens():
[code]

Similar to #256.

[2022-06-24 15:15] simonhammes opened #306 "Use session_status() instead of `isset($_SESSION)` to check if session should be started"
#### Problem
`session_start()` is not called (but should be!) if the session was started earlier during the request and closed afterwards (using `session_write_close()`) (all of this happening before running any code inside this library).

Callsite: https://github.com/jumbojett/OpenID-Connect-PHP/blob/5b0b423d5db7702012415b9071c41f665e674bf5/src/OpenIDConnectClient.php#L1808

I believe this is the

[2022-07-05 06:39] #306 closed

[2022-07-05 06:40] #303 closed

[2022-07-05 06:48] #29 closed

[2022-07-05 06:50] #113 closed

[2022-07-05 06:51] #123 closed

[2022-07-08 10:14] alandra25 opened #310 "missing required parameter(s) (client_id)"
Hi, i'm testing your function like in Example 5 Request Resource Owners Token (with client auth).
I already set all requirement but have this return error :

{
    "error": "invalid_request",
    "error_description": "missing required parameter(s) (client_id)"
}

Is there any way you can look at this error ?

[2022-07-08 10:33] DeepDiver1975 commented on #310
This error is returned from your IdP.

As it states the client_id is expected.

client id is the second ctor argument

[code]

[2022-07-08 10:33] #310 closed

[2022-07-08 10:48] alandra25 commented on #310
Hi @DeepDiver1975, i already set all the requirement and still get that error, including ClientID, ClientSecret, and provider URL

[2022-07-08 15:25] DeepDiver1975 commented on #310
What is our IdP?

[2022-07-16 15:00] lellomaverick opened #312 "The client MUST NOT use more than one authentication method in each"
Hello everyone, I am using a private Identity Access Manager and I am able to complete the login process until I return to my application. This is the simple code:

$oidc = new OpenIDConnectClient(
		'https://aaa.it/oauth2/token',
		'xxx',
		'yyy'
	);
	$oidc->addScope('profile');
	$oidc->addScope('email');
	$oidc->addScope('api');
	$oidc->setCodeChallengeMethod('S256');

	$oidc->authenticate();

A

[2022-07-18 06:59] mrvanes opened #313 "https://github.com/phpseclib/phpseclib/issues/1817"
I raised the issue of phpseclib php-xml dependency with the maintainer of phpseclib because OpenID-Connect-PHP fails if php-xml isn't installed, but his answer is that it's such an obscure use case that it's not his intention to make php-xml a hard dependency.
He is, however thinking about implementing a native jwks processor.
1. Could you make php-xml a hard dependency og OpenID-Connect-PHP to ma

[2022-08-05 13:23] DeepDiver1975 opened #316 "random_bytes is php7.0+ only"
https://github.com/jumbojett/OpenID-Connect-PHP/blob/ca7429b218d5f043cc440dcd98fc27e4e0f1e418/src/OpenIDConnectClient.php#L640

So basically the current code base is only usable with php7.0+ - when using PKCE flows.

We should either require php7 in composer.json or add https://github.com/paragonie/random_compat

I vote for bumping the php requirement ...

[2022-09-05 10:14] diggersworld opened #320 "Intermittent session issues"
Hi,

I've been experiencing intermittent issues when using this package in which authorization requests fail validation of the `state` and `nonce` parameters because they don't exist in the session. What typically happens is the following:

1. initial authorization request is constructed and attempts to record nonce and state values to the session, the user is then redirected to the auth provider.

[2022-09-12 07:22] mrvanes opened #321 "phpseclib now natively supports json webkeys"
https://github.com/jumbojett/OpenID-Connect-PHP/blob/96b1295daa137ab2f9f1ebee50278e79ba280ad8/src/OpenIDConnectClient.php#L975

OpenID-Connect-PHP can now do without the xml wrapping of keys and natively parse the json webkeys in phpseclib:
https://github.com/phpseclib/phpseclib/releases/tag/3.0.15
https://github.com/phpseclib/phpseclib/commit/0b3c6e27fcdd58d747cea054d536e319a38ca5be

[2022-09-15 21:12] ricklambrechts commented on #211
Will be fixed by #305

[2022-09-15 21:17] ricklambrechts commented on #320
Do you use this package in a framework like Laravel?
How does the setup look like, is the application on multiple servers behind a load balancer?

For Laravel and HA support I extended the OpenIDConnectClient and override the session functions to use Laravel's session functions.

[2022-09-15 21:30] DeepDiver1975 commented on #320
Possible solution is to review the same site cookie settings.
Depending on the used php version different default values are used which can have massive impact on the functionality of openidconnect.

refs https://auth0.com/blog/browser-behavior-changes-what-developers-need-to-know/#What-Might-Be-Affected-

[2022-09-16 09:04] #320 closed

[2022-09-28 06:55] #116 closed

[2022-09-28 07:10] DeepDiver1975 commented on #316
already there - missed that ...

[2022-09-28 07:10] #316 closed

[2022-09-29 08:39] azurams opened #329 "since v0.9.9 The provider client_assertion_type could not be fetched"
Hi, I'm using Keycloak with basic "Client ID / Secret" client auth.

Authentication used to work prior to v0.9.9.
Since 0.9.9, I got the following error :  "The provider client_assertion_type could not be fetched"

It seems that, since "client_secret_jwt" is in supported token endpoint auth methods, OpenIDConnectClient tries to use this method.
And Keycloak may be not well configured since  "clien

[2022-09-29 08:45] DeepDiver1975 commented on #329
I can only think of adding some config option to explicitly enable client_secret_jwt to make sure we don't have such a breaking behavior.

Gimme a moment to come up with a PR.

[2022-09-29 09:19] azurams commented on #329
thank you for your quick reply.
I gave your PR a try, and it works as expected and fix my issue.

[2022-09-30 08:04] DeepDiver1975 commented on #329
@azurams here is an alternative approach - should give the same behavior - maybe you still want to give this one a try
https://github.com/jumbojett/OpenID-Connect-PHP/pull/331

Thanks a lot!

[2022-09-30 13:49] osnard opened #333 "`verifyLogoutToken` fails with single-value `aud` claim"
The "Backchannel Logout" spec states that  the `aud` claim can be single-value or multi-value):

See https://openid.net/specs/openid-connect-backchannel-1_0.html#LogoutToken and https://openid.net/specs/openid-connect-core-1_0.html#IDToken

The current implementation (https://github.com/jumbojett/OpenID-Connect-PHP/blob/v0.9.10/src/OpenIDConnectClient.php#L572-L575) will fail for single values, as

[2022-09-30 13:58] osnard commented on #333
Patch provided

[2022-09-30 15:28] CodyRWhite opened #335 "getAccessTokenPayload - Returns null with Azure OIDC"
I am not sure if this is a bug.

I am using another product that leverages this module, however when I try and call getAccessTokenPayload() from your module I am receiving a null response.

The authentication process completes without issue so I know I am able to authenticate. However the product I am using stores the payload in order to process other elements.

It appears this works with other OI

[2022-09-30 15:43] DeepDiver1975 commented on #335
enter your jwt to https://jwt.io/ and you can see what is really inside the Azure token.

[2022-10-03 08:30] azurams commented on #329
@DeepDiver1975 the solution you merged in the new release 0.9.10 fully fits my needs.
 Thanks a lot !

[2022-10-03 08:30] #329 closed

[2022-10-03 14:14] CodyRWhite commented on #335
everything is working fine sorry for the alert/confusion.
User error :)

[2022-10-07 15:35] ricklambrechts commented on #313
Should be fixed with suggestions on #327

[2022-10-07 15:49] DeepDiver1975 commented on #313
I will incorporate this

[2022-10-11 12:20] gregfr opened #338 "Newbie need explications (want to use Keycloak)"
Greetings

I'm trying to use this library and I don't know how to start. My goal is to implement authentication via Keycloak and the french health service (both OpenID Connect).
Can you give some starting point?

Thanks in advance

Regards

[2022-10-12 11:27] ricklambrechts commented on #338
To use keycloack, check their documentation. I just had it up and running in a few minutes.

I created a realm "myrealm" and within the realm i created a client "client". Without any authentication, but you should enable that to your needs.

[code]

[2022-10-12 15:07] gregfr commented on #338
Thanks for your reply.

I think I found what I was looking for here: https://github.com/jumbojett/OpenID-Connect-PHP/issues/289

Regards

[2022-10-13 08:45] divyeshamreliya opened #339 "PKCE code verifier not specified"
Hello
I am getting below issue in callback method, I am successfully login into third party open id but after that I am getting below error

Fatal error:  Uncaught Jumbojett\OpenIDConnectClientException: PKCE code verifier not specified

![image](https://user-images.githubusercontent.com/112490437/195548384-f2481033-24be-4595-b43e-9ba227ba353d.png)

[2022-10-13 09:06] ricklambrechts commented on #339
Did you set a code challenge method?
https://github.com/jumbojett/OpenID-Connect-PHP#example-8-pkce-client

[2022-10-13 09:30] divyeshamreliya commented on #339
@ricklambrechts
Thanks :) After setting code challenge method, issue resolved.

[2022-10-13 21:38] #339 closed

[2022-10-19 13:17] azmeuk opened #340 "Set up an integration tests environment"
We currently have a few unit tests, but to help reviewing PRs and prevent regressions, an integration tests environment would be very helpful.

[2022-10-19 13:24] DeepDiver1975 commented on #340
Just got the confirmation that ownCloud is sponsoring this development through my working time. Will start on this topic beginning of Nov

[2022-10-19 14:27] ricklambrechts commented on #340
I will try to create a github action that will spinup keycloak as a service. And use the Admin REST API to create a realm, a client and set the redirect urls.

[2022-10-19 14:55] DeepDiver1975 commented on #340
That's highly appreciated!

[2022-10-19 23:23] pulsejet opened #341 "Allow configuring JWT verification algorithms"
Currently all of the following are allowed, but they [may not be secure](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/) enough.
https://github.com/jumbojett/OpenID-Connect-PHP/blob/6aae75b1c7b58d8d64a6d14877f77b8a13ab90f6/src/OpenIDConnectClient.php#L1226-L1259

From https://github.com/pulsejet/nextcloud-oidc-login/issues/126

[2022-11-04 17:30] fgarnier-hublot opened #343 "SF client_secret_basic unsupported"
Salesforce .well-known/openid-configuration supports:
[code]

However, even if client_secret_basic is mentioned, SF required client_id and client_secret in the RequestToken
So I had to comment a part of `requestTokens` function
[code]

[2022-11-14 08:15] teemukolehmainen-howspace opened #344 "No support for signature type: RSA-OAEP"
JWT with signature algorithm `RSA-OAEP` is not supported.

[2022-11-21 10:19] vixducis opened #345 "Authenticate(): Add possibility to return Redirect URL instead of redirecting"
Currently, when calling the `authenticate()` function, you're redirected to the Identity Provider. This assumes that the currently executing script is the frontend in the user's browser. When implementing API-based applications this is of course not the case and you might want to return this URL to the client in order to perform the redirect there.

Other use cases might be when a framework (like

[2022-11-21 11:16] ricklambrechts commented on #345
It works with Laravel but not in the nicest way.
I am creating a package for it so that it uses the Laravel session handlers.

For API-based applications it would be nice to get the authentication url indeed!
I am wondering how it would work because it needs a session currently.

[2022-11-28 10:12] nicolus commented on #190
Over 2 years later I found this issue while researching exactly the same problem with an Azure AD Identity provider : `Unable to find a key for (algorithm, kid):RS256`

Good news is there's now a clean solution. @SimonDatapas 's explanation above is absolutely correct : Azure AD requires you to pass a `?appid=<clientid>` param to the well known configuration endpoint, so that it will add the param

[2022-11-28 18:51] Magentron opened #347 "Enable `client_secret_basic` authentication on `requestClientCredentialsToken()`"
In order to be able to use the demo client credentials of [Signicat](https://www.signicat.com/) to retrieve the client credentials token (a.k.a. access token) client secret basic authentication is required, because otherwise the error `"Your client is configured to authenticate using CLIENT_SECRET_BASIC"` is returned.

See:
- https://developer.signicat.com/enterprise/docs/identification/guides/#oi